<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>test</title>
<link href="__PUBLIC__/admin/css/style.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/admin/css/css.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="__PUBLIC__/editor/themes/default/default.css" />
<script language="JavaScript" src="__PUBLIC__/admin/js/myjs.js"></script>
<script language="JavaScript" src="__PUBLIC__/admin/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/editor/kindeditor.js"></script>
<script src="__PUBLIC__/editor/lang/zh_CN.js"></script>
<script type="text/javascript">
    KindEditor.ready(function(K) {
        var editor = K.editor({
            allowFileManager : true
        });
        K('#image1').click(function() {
            editor.loadPlugin('image', function() {
                editor.plugin.imageDialog({
                    imageUrl : K('#url1').val(),
                    clickFn : function(url, title, width, height, border, align) {
                        K('#url1').val(url);
                        editor.hideDialog();
                    }
                });
            });
        });
    });
</script>
<body>
<div class="place">
<span>位置：</span>
<ul class="placeul">
<li><a href="#">客样管理</a></li>
<li><a href="#">客样管理</a></li>
<li><a href="#">添加客样信息</a></li>
</ul>
</div>
<form method="post" name="form" action="">
	<ul class="forminfo">
        
		 <li><label><b>*</b>标题</label><input name="jc_title" type="text" class="dfinput" value="" /></li>
         <li><label><b>*</b>English-标题</label><input name="jc_title_english" type="text" class="dfinput" value="" /></li>		
	    <li><label><b>*</b>路径</label><input name="jc_url" type="text" class="dfinput" value="" /></li>
        <li><label><b>*</b>排序</label><input name="jc_sort" type="text" class="dfinput" value="" /></li>
	    <li><label>&nbsp;</label><input name="submit" type="submit" class="btn" value="确认保存"/></li>
	</ul>
</form>

</body>
</html>