<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="author" content="Bright2017" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$navben.nav_name}</title>
		<link rel="icon" href="__PUBLIC__/Home/img/favicon.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="__PUBLIC__/Home/img/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/reset.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/swiper.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/index.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/layui.css" />

		<!--[if IE]>
			<script src="http://libs.baidu.com/html5shiv/3.7/html5shiv.min.js"></script>
		<![endif]-->
	</head>

	<body>
		<header>
			<div class="hraderCent">
				<div class="hraderCent-left">
					<img src="{$company_introduce.ci_logo}" alt="img" />
				</div>
				<div class="hraderCent-right">
					<div class="hraderCent-top">
						<div class="search">
							<input type="text" placeholder="请输入您要搜索的内容" />
							<img src="__PUBLIC__/Home/img/img1.png" alt="img" />
						</div>
					</div>
					<include file="Public/nav"/>
				</div>
			</div>
		</header>
		<div class="NavigationBack hide">
			<ul style="margin-left: 748px;">
				<volist name="product_classify_res" id="product_classify">
					<li>
						{$product_classify.pc_name}<input type="hidden" class="pc_id" value="{$product_classify.pc_id}" />
						<input type="hidden" class="pc_name" value="{$product_classify.pc_name}" />
					</li>
				</volist>
			</ul>
		</div>
		<div class="banner">
			<img src="{$background_image_data[0].bi_image}" alt="..." />
		</div>
		<!--内容-->
		<section>
			<div class="ProductCenter">
				<div class="ProductCenter-top">
					<div><img src="__PUBLIC__/Home/img/img58.png" alt="..." /></div>
					<div>智能锁</div>
				</div>
				<div class="lock">
				</div>
				<div id="demo2"></div>
			</div>
		</section>
		<input type="hidden" class="nav_id" value="{$nav_id}" />
		<!--公共底部-->
		<include file="Public/footer" />
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<script src="__PUBLIC__/Home/js/swiper.js" type="text/javascript" charset="utf-8"></script>
		<script src="__PUBLIC__/Home/js/index.js" type="text/javascript" charset="utf-8"></script>
		<script src="__PUBLIC__/Home/layui-v2.4.5/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function() {
				var allcontent = 0;
				//				二级导航改变样式
				$('.NavigationBack>ul>li').click(function() {
					var ind = $(this).index();
					console.log('结构规划', ind);
					$('.NavigationBack>ul').children('li').eq(ind).addClass('headCorol').siblings().removeClass('headCorol');

				});
				//				鼠标滑过事件
				$(document).on('mouseenter', '.lockDisplay', function() {
					$(this).children('div').eq(1).removeClass().addClass("blue");
				});
				$(document).on('mouseleave', '.lockDisplay', function() {
					$(this).children('div').eq(1).removeClass().addClass("black");
				});

				var p = 1;
				var btn = Number($('#btn').val());
				var leng = $('.NavigationBack>ul>li').length;
				for(var t = 0; t < leng; t++) {
					var lc = $('.NavigationBack>ul>li').eq(t).children('input').val();
				}
				//页面初始化加载默认分类内容
				//获取默认第一个分类ID
				var nav_id=$('.nav_id').val();
				console.log('lllllllllllll',nav_id);
				var pc_id = $('.pc_id').val();
				var pc_name = $('.pc_name').val();
				console.log('ggggggggggggg', pc_name)
				//获取页面默认数据总数	
				$.ajax({
					url: '/index.php/Home/Public/selproductclassify',
					type: 'get',
					success: function(data) {

						console.log('快快快', data);
						allcontent = data.allcount;
						layui.use(['laypage', 'layer'], function() {
							var laypage = layui.laypage,
								layer = layui.layer;
							//完整功能
							laypage.render({
								elem: 'demo2',
								count: allcontent,
								theme: '#024b97',
								limit: 1,
								jump: function(obj, first) {
									$pageid = obj.curr;
									var ind = $('#demo2>div>a').length;
									var len = $('#demo2>div>span').length;
									for(var k = 0; k < ind; k++) {
										var hhh = $('#demo2>div').children('a').eq(k - 1).outerWidth(true);
									}
									for(var i = 0; i < len; i++) {
										var sss = $('#demo2>div').children('span').eq(i - 1).outerWidth(true);
									}
									var kkk = hhh * ind;
									var ooo = sss * len;
									var wid = kkk + ooo;
									var widt = $("#demo2").width(wid + 80);
									$('#demo2').css({
										'margin': '0 auto'
									});
									$.ajax({
										type: "post",
										url: "/index.php/Home/Public/selproduct",
										data: {
											'p': 1,
											'pc_id': pc_id
										},
										async: true,
										success: function(data) {
											console.log('大点的', data.product_res);
											$(".lock").children().remove();
											for(var n = 0; n < data.product_res.length; n++) {
												var con = '<a href="/index.php/Home/Index/chanpinxiangqing/nav_id/'+nav_id+'/pc_id/'+pc_id+'/pid/'+data.product_res[n].pid+'"><div class = "lockDisplay"><div><div><img src = "' +
													data.product_res[n].pimage +
													'"alt = "..." /></div></div><div>' +
													data.product_res[n].pname +
													'</div></div></a>';
												$('.lock').append(con);
											}
										},
										error: function() {
											alert('请求异常！');
										}
									});
								}
							});
						});
					},
					error: function() {
						alert('hghfhhhffh');
					}
				})
				var pc_id = $('.pc_id').val();
				//				点击事件加载
				$(".NavigationBack>ul>li").click(function() {
					var pc_id = $(this).children('.pc_id').val();
					$.ajax({
						url: '/index.php/Home/Public/selproduct',
						dataType: 'json',
						type: 'post',
						data: {
							'p': 1,
							'pc_id': pc_id
						},
						success: function(data) {
							console.log('kkkkkkkkkkk', data.product_classify123.pc_name);
							if(pc_id == data.product_classify123.pc_id) {
								$(".ProductCenter-top").children("div").eq(1).text(data.product_classify123.pc_name);
							}

						},
						error: function() {
							alert('hghfhhhffh');
						}
					});
					$.ajax({
						type: "post",
						url: "/index.php/Home/Public/selproduct",
						data: {
							'p': 1,
							'pc_id': pc_id
						},
						async: true,
						success: function(data) {
							allcontent = data.allcount;
							console.log('灌灌灌灌', data);
							layui.use(['laypage', 'layer'], function() {
								var laypage = layui.laypage,
									layer = layui.layer;
								//完整功能
								laypage.render({
									elem: 'demo2',
									count: allcontent,
									theme: '#024b97',
									limit: 1,
									jump: function(obj, first) {
										$pageid = obj.curr;
										var ind = $('#demo2>div>a').length;
										var len = $('#demo2>div>span').length;
										for(var k = 0; k < ind; k++) {
											var hhh = $('#demo2>div').children('a').eq(k - 1).outerWidth(true);
										}
										for(var i = 0; i < len; i++) {
											var sss = $('#demo2>div').children('span').eq(i - 1).outerWidth(true);
										}
										var kkk = hhh * ind;
										var ooo = sss * len;
										var wid = kkk + ooo;
										var widt = $("#demo2").width(wid + 80);
										$('#demo2').css({
											'margin': '0 auto'
										});
										$.ajax({
											type: "post",
											url: "/index.php/Home/Public/selproduct",
											async: true,
											data: {
												'p': 1,
												'pc_id': pc_id
											},
											success: function(data) {
												$(".lock").children().remove();
												for(var n = 0; n < data.product_res.length; n++) {
													var con = '<a href="/index.php/Home/Index/chanpinxiangqing/nav_id/'+nav_id+'/pc_id/'+pc_id+'/pid/'+data.product_res[n].pid+'"><div class = "lockDisplay"><div><div><img src = "' +
														data.product_res[n].pimage +
														'"alt = "..." /></div></div><div>' +
														data.product_res[n].pname +
														'</div></div></a>';
													$('.lock').append(con);
												}
											},
											error: function() {
												alert('m,,,,');
											}
										});
									}
								});
							});
						},
						error: function() {
							alert('mmmmmm');
						}
					});
				})

				$('.headCorol').mouseenter(function(){
					$('.NavigationBack').slideDown();
				});
			});
		</script>
	</body>

</html>