<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="author" content="Bright2017" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$product_classify11.pc_name}</title>
		<link rel="icon" href="__PUBLIC__/Home/img/favicon.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="__PUBLIC__/Home/img/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/reset.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/swiper.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/index.css" />
		<!--[if IE]>
			<script src="http://libs.baidu.com/html5shiv/3.7/html5shiv.min.js"></script>
		<![endif]-->
	</head>

	<body>
		<header>
			<div class="hraderCent">
				<div class="hraderCent-left">
					<img src="{$company_introduce.ci_logo}" alt="img" />
				</div>
				<div class="hraderCent-right">
					<div class="hraderCent-top">
						<div class="search">
							<input type="text" placeholder="请输入您要搜索的内容" />
							<img src="__PUBLIC__/Home/img/img1.png" alt="img" />
						</div>
					</div>
					<include file="Public/nav"/>
				</div>
			</div>
			<div class="NavigationBack hide">
				<ul style="margin-left: 748px;">
					<volist name="product_classify_res" id="product_classify">
						<if condition="$k eq 1">
							<li><a href="javascript:;" class="lanse">{$product_classify.pc_name}</a><input type="hidden" class="pc_id" value="{$product_classify.pc_id}"/></li>
							<else/>
							<li><a href="javascript:;">{$product_classify.pc_name}</a><input type="hidden" class="pc_id" value="{$product_classify.pc_id}"/></li>
						</if>
					</volist>
				</ul>
			</div>
		</header>
		<div class="banner"><img src="{$background_image_data[0].bi_image}" alt="..." /></div>
		<!--内容-->
		<section>
			<div class="IntelligentLock">
				<div class="IntelligentLock_top">
					<span>当前位置&nbsp;:</span>
					<span><a href="/index.php/Home/Index/index/nav_id/{$navres[0].nav_id}">首页</a></span>
					<span>></span>
					<span><a href="{$navben.nav_url}/nav_id/{$navben.nav_id}">{$navben.nav_name}</a></span>
					<span>></span>
					<span>{$product_classify11.pc_name}</span>
				</div>
				<div class="IntelligentLock_title">{$product11.pname}</div>
				<div class="IntelligentLock_img">
					<div class="IntelligentLockImg_top">
						<div class="IntelligentLockImg_top_left">
							<div><img src="{$product11.pimage}" alt="..." /></div>
							<volist name="product_res" id="product">
								<div class="hide"><img src="{$product.pimage}" alt="..." /></div>
							</volist>
						</div>
						<div>
							<p>所属分类：{$product_classify11.pc_name}</p>
							<p>产品名称：{$product11.pname}</p>
							<p>发布日期：{$product11.ptime|date="Y-m-d",###}</p>
							<a href="javascript:;">{$product11.pprice}</a>
						</div>
					</div>
					<div class="wapperBig">
						<div id="main">
							<div id="warpper">
								<div id="inner">
									<volist name="product_res" id="product">
										<div><img src="{$product.pimage}" alt="..." /></div>
									</volist>
								</div>
							</div>
						</div>
						<div id="optrbtn">
							<span class="btnleft"><img src="__PUBLIC__/Home/img/zuo.png" alt="..."/></span>
							<span class="btnright"><img src="__PUBLIC__/Home/img/you.png" alt="..."/></span>
						</div>
					</div>
				</div>
				<div class="Detailed">详细介绍</div>
				<div class="Detailed_text">
					{$product11.pintroduce}
				</div>
				<div class="fingerprint"><img src="{$product11.pimage}" alt="..." /></div>
			</div>

		</section>
		<!--公共底部-->
		<include file="Public/footer" />
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<script src="__PUBLIC__/Home/js/swiper.js" type="text/javascript" charset="utf-8"></script>
		<script src="__PUBLIC__/Home/js/index.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function() {
				var swiper = new Swiper('.swiper-container', {
					slidesPerView: 3,
					spaceBetween: 30,
					slidesPerGroup: 3,
					//					loop: true,
					loopFillGroupWithBlank: true,
					navigation: {
						nextEl: '.swiper-button-next1',
						prevEl: '.swiper-button-prev1',
					},
				});

				var curNum = 0;
				var count = $("#inner").children('div').length;
				//左滑动
				$(".btnleft").click(function() {
					//如果到了最后一个元素 停止
					if((count - curNum) <= 3) {
						return false;
					}
					curNum += 1;
					$("#inner").animate({
						left: '-=162'
					}, 500, function() {
					});
				});
				//右滑动
				$(".btnright").click(function() {
					//如果到了第一个元素 停止
					if(curNum <= 0) {
						return false;
					}
					curNum -= 1;

					$("#inner").animate({
						left: '+=162'
					}, 500, function() {
						//curNum-=1;    //写在这里同样问题

					});
				});
				
				$('#inner>div').click(function(){
					var ind=$(this).index();
					console.log('下标',ind);
					$('.IntelligentLockImg_top_left').children('div').eq(ind).show().siblings().hide();
				});
				
				$('.headCorol').mouseenter(function(){
					$('.NavigationBack').slideDown();
				});
			});
		</script>
	</body>

</html>