<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="author" content="Bright2017" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$navben.nav_name}</title>
		<link rel="icon" href="__PUBLIC__/Home/img/favicon.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="__PUBLIC__/Home/img/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/reset.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/swiper.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/index.css" />
	</head>

	<body>
		<div class="whole">
			<header>
				<div class="hraderCent">
					<div class="hraderCent-left">
						<img src="{$company_introduce.ci_logo}" alt="img" />
					</div>
					<div class="hraderCent-right">
						<div class="hraderCent-top">
							<div class="search">
								<input type="text" placeholder="请输入您要搜索的内容" />
								<img src="__PUBLIC__/Home/img/img1.png" alt="img" />
							</div>
						</div>
						<include file="Public/nav"/>
					</div>
				</div>
			</header>
			<!--内容-->
			<section>
				<!--主页轮播-->
				<div class="swiperImages">
					<div class="swiper-container">
						<div class="swiper-wrapper">
							<volist name="lunboData" id="lunbo">
								<div class="swiper-slide">
									<if condition="$lunbo.nav_url eq ''">
										<a href="javascript:;">
											<img src="{$lunbo.lb_image}" alt="img" />
										</a>
										<else/>
										<a href="{$lunbo.lb_url}">
											<img src="{$lunbo.lb_image}" alt="img" />
										</a>
									</if>
								</div>
							</volist>
						</div>
					</div>
					<div class="swiperClick">
						<volist name="lunboData" id="lunbo">
							<div>
								<div class="swiperClick-top swiperBack2"></div>
								<div class="swiperClick-bot swiperBack">
									{$lunbo.lb_title}
								</div>
							</div>
						</volist>
					</div>
					<div class="swiperClick2"></div>
				</div>
		</div>

		<!--关于博越科技-->
		<div class="aboutTitle">
			<div>about</div>
			<div>博越科技</div>
		</div>
		<div class="aboutBoyue">
			<div class="aboutBoyue-left">
				<img src="{$company_introduce.ci_image}" alt="img" />
			</div>
			<div class="aboutBoyue-right">
				<div class="aboutBoyue-one">
					{$company_introduce.ci_title}
				</div>
				<div class="aboutBoyue-two">
					{$company_introduce.ci_content}
				</div>
				<div class="aboutBoyue-three">
					<a href="javascript:;">
						<div class="aboutBoyue-top">
							<img src="__PUBLIC__/Home/img/img4.png" alt="img" />
							<img src="__PUBLIC__/Home/img/img5.png" alt="img" class="hide" />
						</div>
						<div class="aboutBoyue-bot">一件咨询</div>
					</a>
					<a href="javascript:;">
						<div class="aboutBoyue-top">
							<img src="__PUBLIC__/Home/img/img6.png" alt="img" />
							<img src="__PUBLIC__/Home/img/img7.png" alt="img" class="hide" />
						</div>
						<div class="aboutBoyue-bot">联系我们</div>
					</a>
					<a href="javascript:;">
						<div class="aboutBoyue-top">
							<img src="__PUBLIC__/Home/img/img8.png" alt="img" />
							<img src="__PUBLIC__/Home/img/img9.png" alt="img" class="hide" />
						</div>
						<div class="aboutBoyue-bot">加入我们</div>
					</a>
				</div>
			</div>
		</div>
		<div class="aboutTitle">
			<div>Product display</div>
			<div>博越产品展示</div>
		</div>
		<div class="CentMenu">
			<volist name="little_classify_res[0]" id="little_classify" key="k">
				<if condition="$k eq 1">
					<a href="javascript:;" class="MenuBackColo">{$little_classify.lc_name}
                    <input type="hidden" class="lc_id" value="{$little_classify.lc_id}">
					</a>
					<else/>
					<a href="javascript:;">
					{$little_classify.lc_name}
					<input type="hidden" class="lc_id" value="{$little_classify.lc_id}">
				    </a>
				</if>
			</volist>
		</div>
		<div class="MenuDataCent">
			<volist name="classify_article_res[0][0]" id="classify_article">
					<a href="/index.php/Home/Index/xinwenxiangqing/ca_id/{$classify_article.ca_id}/nav_id/{$all_classify_res[0].nav_id}">
						<div class="MenuDataCent-top">
							<img src="{$classify_article.ca_image}" alt="img" />
						</div>
						<div class="MenuDataCent-bot">{$classify_article.ca_title}</div>
					</a>
			</volist>
		</div>
		<!--更多-->
		<a href="/index.php/Home/Index/chanpinzhongxin/nav_id/{$all_classify_res[0].nav_id}" class="MenuMore">more</a>
		<div class="aboutTitle">
			<div>Intelligent scene</div>
			<div>博越智能场景</div>
		</div>
		<!--动画开灯-->
		<div class="animationDemo">
			<volist name="scene_Data" id="scene">
				<div>
					<img src="{$scene.image}" alt="img" />
				</div>
			</volist>
		</div>
		<div class="aboutTitle">
			<div>{$all_head_Data.ah_title4}</div>
			<div>{$all_head_Data.ah_title1}</div>
		</div>
		<!--客户满意是我们的追求-->
		<div class="CustomerSatisfaction">
			<div class="CustomerSatisfaction-top">{$all_head_Data.ah_title2}</div>
			<div class="CustomerSatisfaction-data">
				{$all_head_Data.ah_title3}
			</div>
		</div>
		<div class="Intelligence">
			<div class="Intelligence-top">
				<volist name="little_classify_res11" id="little_classify11">
					<if condition="$k eq 1">
						<a href="javascript:;" class="ColorMenus">{$little_classify11.lc_name}</a>
						<else/>
						<a href="javascript:;">{$little_classify11.lc_name}</a>
					</if>
				</volist>
			</div>
			<div class="Intelligence-bot">
				<div class="Intelligence-left">
					<volist name="little_classify_res11" id="little_classify11" key="k">
						<if condition="$k eq 1">
							<div class="Img{$k}">
								<div class="swiper-container Img1-1">
									<div class="swiper-wrapper">
										<volist name="classify_article_res11[$k-1]" id="classify_article11">
							                 <div class="swiper-slide">
												<img src="{$classify_article11.ca_image}" alt="..." />
											</div>
						                </volist>
									</div>
									<div class="swiper-button-next Img1-3"></div>
									<div class="swiper-button-prev Img1-4"></div>
								</div>
							</div>
							<else/>
							<div class="Img{$k} hiddenHide">
								<div class="swiper-container Img2-1">
									<div class="swiper-wrapper">
										<volist name="classify_article_res11[$k-1]" id="classify_article11">
							                 <div class="swiper-slide">
												<img src="{$classify_article11.ca_image}" alt="..." />
											</div>
						                </volist>
									</div>
									<div class="swiper-button-next Img2-3"></div>
									<div class="swiper-button-prev Img2-4"></div>
								</div>
							</div>
						</if>
				    </volist>
				</div>
				<div class="Intelligence-right">
					<div class="Intelligence-title">全屋智能整装</div>
					<div class="Intelligence-img">
						<volist name="home_decorate_titleData" id="home_decorate_title">
							<a href="javascript:;">
								<div class="IntelligenceImg-top">
									<img src="{$home_decorate_title.hdt_image}" alt="img" />
								</div>
								<div class="IntelligenceImg-bot">{$home_decorate_title.hdt_title}</div>
							</a>
						</volist>
					</div>
				</div>
			</div>
		</div>
		<div class="aboutTitle">
			<div>Customer case</div>
			<div>博越客户案例</div>
		</div>
		<div class="CustomerCase" style="background: url(__PUBLIC__/Home/img/img39.png) no-repeat;background-size: 100% 100%;">
			<div class="CustomerCaseCent">
				<volist name="caseData" id="case">
					<if condition="$case.url eq ''">
						<a href="javascript:;" target="_blank">
							<div class="CustomerCase-top"></div>
							<div class="CustomerCase-cent">
								<div class="caseCent">
									{$case.title}
								</div>
							</div>
							<div class="CustomerCase-bot"></div>
							<div class="CustomerCaseImg">
								<img src="{$case.image}" alt="img" />
							</div>
						</a>
						<else/>
                        <a href="{$case.url}" target="_blank">
							<div class="CustomerCase-top"></div>
							<div class="CustomerCase-cent">
								<div class="caseCent">
									{$case.title}
								</div>
							</div>
							<div class="CustomerCase-bot"></div>
							<div class="CustomerCaseImg">
								<img src="{$case.image}" alt="img" />
							</div>
						</a>
					</if>
				</volist>
			</div>
		</div>
		<div class="aboutTitle">
			<div>News</div>
			<div>博越资讯</div>
		</div>
		<div class="news">
			<div class="news-left">
				<img src="{$classify_article_res[1][0][0].ca_image}" alt="img" />
			</div>
			<div class="news-right">
				<volist name="little_classify_res[1]" id="little_classify" key="k">
					<if condition="$k lt 5">
					<if condition="$k eq 1">
						
					
					<div class="newsCent">
						<div class="news-top">
							<div>
								{$little_classify.lc_name}
							</div>
						</div>
						<div class="news-bot">
							<volist name="classify_article_res[1][$k-1]" id="classify_article">
								<a href="/index.php/Home/Index/xinwenxiangqing/ca_id/{$classify_article.ca_id}/nav_id/{$nav_id}">
									<div class="newsCent-left">
										{$classify_article.ca_title}
									</div>
									<div class="newsCent-right">
										{$classify_article.ca_time|date="Y-m-d",###}
									</div>
								</a>
							</volist>
						</div>
					</div>
					<else/>
					<div class="newsCent">
						<div class="news-top">
							<div>
								{$little_classify.lc_name}
							</div>
						</div>
						<div class="news-bot">
							<volist name="classify_article_res[1][$k-1]" id="classify_article">
								<a href="/index.php/Home/Index/xinwenxiangqing/ca_id/{$classify_article.ca_id}/nav_id/{$nav_id}">
									<div class="newsCent-left">
										{$classify_article.ca_title}
									</div>
									<div class="newsCent-right">
										{$classify_article.ca_time|date="Y-m-d",###}
									</div>
								</a>
							</volist>
						</div>
					</div>
					</if>
					</if>
				</volist>
			</div>
		</div>
		</section>
		<!--公共底部-->
		<include file="Public/footer"/>
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<script src="__PUBLIC__/Home/js/swiper.js" type="text/javascript" charset="utf-8"></script>
		<script src="__PUBLIC__/Home/js/index.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function() {
				$('.CentMenu>a').click(function(){
					var lc_id=$(this).children('input').val();
					$.ajax({
						type:'post',
						data:{
							lc_id:lc_id
						},
						dataType:'json',
						url:'/index.php/Home/Public/sel_product_date',
						success:function(data){
							$('.MenuDataCent').html('');
							 var datalen=data.length;
                             var string='';
                             for(var i=0;i<datalen;i++){
                             	string+='<a href="javascript:;"><div class="MenuDataCent-top"><img src="'+data[i]['ca_image']+'" alt="img" /></div><div class="MenuDataCent-bot">'+data[i]['ca_title']+'</div></a>';
                             }
                             $('.MenuDataCent').html(string);
						}
					})

				})
				//				轮播
				var mySwiper = new Swiper('.swiperImages .swiper-container', {
					loop: true,
				});
				$('.swiperClick>div').click(function() {
					var index = $(this).index();
					$(this).children(".swiperClick-top").addClass("swiperBack2").parent().siblings().children(".swiperClick-top").removeClass("swiperBack2");
					$(this).children(".swiperClick-bot").addClass("swiperBack").parent().siblings().children(".swiperClick-bot").removeClass("swiperBack");
					mySwiper.slideToLoop(index, 1000, false);
				});
				//				鼠标滑过一键联系
				$(".aboutBoyue-three>a").mouseenter(function() {
					$(this).children(".aboutBoyue-top").children("img").eq(1).removeClass("hide").siblings().addClass("hide");
					$(this).children('.aboutBoyue-bot').css({
						'color':'#014a96'
					});
				});
				$(".aboutBoyue-three>a").mouseleave(function() {
					$(this).children(".aboutBoyue-top").children("img").eq(0).removeClass("hide").siblings().addClass("hide");
					$(this).children('.aboutBoyue-bot').css({
						'color':'#000'
					});
				});
				//				菜单
				$(".CentMenu>a").click(function() {
					$(this).addClass("MenuBackColo").siblings().removeClass("MenuBackColo");
				});
				//				改变鼠标样式
				$('.animationDemo').css('cursor', 'url(__PUBLIC__/Home/img/img1.ico), move');
				//				动画
				$(".animationDemo>div:nth-child(4)").click(function() {
					$(".animationDemo>div:nth-child(2)").fadeToggle(2000);
					$(".animationDemo>div:nth-child(3)").fadeToggle(2000);
				});
				$(".animationDemo>div:nth-child(2)").click(function() {
					$(".animationDemo>div:nth-child(2)").fadeToggle(2000);
					$(".animationDemo>div:nth-child(3)").fadeToggle(2000);
				});
				var hei = $(window).height();//屏幕高度
				var divhei = $('.swiperImages');//轮播高度
				var divhei1 = $('.hraderCent');//导航高度
				var whole=$('.whole');//整体高度
				hei=whole;
//				alert(whole.height());
				//				alert($(window).height());
				//				alert($(window).width());
				//				Tab切换轮播图
				var swiper = new Swiper('.Img1-1', {
					spaceBetween: 10,
					centeredSlides: true,
					autoplay: {
						delay: 2500,
						disableOnInteraction: false,
					},
					observer: true,
					observeParents: true,
					navigation: {
						nextEl: '.Img1-3',
						prevEl: '.Img1-4',
					},
				});
				var swiper2 = new Swiper('.Img2-1', {
					spaceBetween: 10,
					centeredSlides: true,
					autoplay: {
						delay: 2500,
						disableOnInteraction: false,
					},
					observer: true,
					observeParents: true,
					navigation: {
						nextEl: '.Img2-3',
						prevEl: '.Img2-4',
					},
				});
				var swiper3 = new Swiper('.Img3-1', {
					spaceBetween: 10,
					centeredSlides: true,
					autoplay: {
						delay: 2500,
						disableOnInteraction: false,
					},
					observer: true,
					observeParents: true,
					navigation: {
						nextEl: '.Img3-3',
						prevEl: '.Img3-4',
					},
				});
				$(".Intelligence-top>a").click(function() {
					var index = $(this).index();
					$(".Intelligence-left").children("div").eq(index).removeClass("hiddenHide").siblings().addClass("hiddenHide");
					$(this).addClass("ColorMenus").siblings().removeClass("ColorMenus");
				});
				$(".Intelligence-left").mouseenter(function() {
					$(".Intelligence-left .swiper-button-next").show();
					$(".Intelligence-left .swiper-button-prev").show();
				});
				$(".Intelligence-left").mouseleave(function() {
					$(".Intelligence-left .swiper-button-next").hide();
					$(".Intelligence-left .swiper-button-prev").hide();
				});
				//				客户案例,保持垂直居中
				for(var k = 0; k < $(".CustomerCaseCent").children("a").length; k++) {
					var alength = $(".CustomerCaseCent").children("a").eq(k).children(".CustomerCase-cent").children(".caseCent").height();
					var newHeight = (390 - alength) / 2;
					$(".CustomerCaseCent").children("a").eq(k).children(".CustomerCase-cent").children(".caseCent").css("top", newHeight);
				}
				$(".CustomerCaseCent").children("a").mouseenter(function() {
					$(this).children(".CustomerCase-bot").show();
					$(this).children(".CustomerCaseImg").show();
				});
				$(".CustomerCaseCent").children("a").mouseleave(function() {
					$(this).children(".CustomerCase-bot").hide();
					$(this).children(".CustomerCaseImg").hide();
				});
				
			});
		</script>
	</body>

</html>