<div class="EdnFot"></div>
		<div class="EdnFot2">
			<div class="EdnFotData">
				<a href="javascript:;">
					<div class="EdnFotData-left">
						<img src="__PUBLIC__/Home/img/img65.png" alt="img"/>
					</div>
					<div class="EdnFotData-right">
						weibo官方微博
					</div>
				</a>
				<a href="javascript:;">
					<div class="EdnFotData-left">
						<img src="__PUBLIC__/Home/img/img66.png" alt="img"/>
					</div>
					<div class="EdnFotData-right">
						advisory在线咨询
					</div>
				</a>
				<a href="javascript:;">
					<div class="EdnFotData-left">
						<img src="__PUBLIC__/Home/img/img67.png" alt="img"/>
					</div>
					<div class="EdnFotData-right">
						WINXIN官方微信
					</div>
				</a>
				<a href="javascript:;">
					<div class="EdnFotData-left">
						<img src="__PUBLIC__/Home/img/img68.png" alt="img"/>
					</div>
					<div class="EdnFotData-right">
						gift优惠礼包
					</div>
				</a>
			</div>
		</div>