<div class="cityAdress">
	<img src="__PUBLIC__/mobile/img/img17.jpg" alt="..."/>
	<div class="AdressData">
		<div class="cityAdressData">
			<div class="cityAdressData-top">
				<div class="cityAdressData-left">
					<div class="AdressData-one">
						our position
					</div>
					<div class="AdressData-two">
						{$footer.address}
					</div>
					<div class="AdressData-three">
						hotline
					</div>
					<div class="AdressData-four">
						{$footer.telephone}
					</div>
				</div>
			</div>
			<div class="cityAdressData-bot">
				<div class="cityAdressData-one">
					welcome to communicate with us
				</div>
			</div>
		</div>
	</div>
</div>