<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="flexible" content="initial-dpr=2" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/mobile/css/reset.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/mobile/css/index.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/mobile/css/swiper.css" />
		<script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
	</head>
	<body>
		<!--头部-->
		<include file="Public/nav"/>
		
		<div class="content">
			<div class="content_title">{$articleData.title}</div>
			<div class="content_text">{$articleData.content}</div>
		</div>
		<include file="Public/footer"/>
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<script type="text/javascript">
			$(function() {
				$('.top_left').click(function(){
					$('.nav').show();
				})
				var toggle = true;
				$(".down").click(function() {
					if(toggle) {
						$(this).children("img").attr("src", "__PUBLIC__/mobile/img/up.png");
						toggle = false;
						$(this).siblings('ul').show();
					} else {
						$(this).children("img").attr("src", "__PUBLIC__/mobile/img/down.png");
						toggle = true;
						$(this).siblings('ul').hide();
					}
				});
				$('.guanbi').click(function() {
										$('.nav').hide();
				});
				var hei = $(window).height();
				console.log('gaodu', hei);
				var nav_hei = $('.nav').height(hei);
			})
		</script>
	</body>
</html>
