<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="flexible" content="initial-dpr=2" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/mobile/css/reset.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/mobile/css/index.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/mobile/css/swiper.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/mobile/layui-v2.4.5/layui/css/layui.css" />
		<script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
	</head>
	<body>
			<!--头部-->
		<include file="Public/nav"/>
		<!--banner-->
		<div class="banner"><img src="__PUBLIC__/mobile/img/img2.png" alt="..." /></div>
			<!--活动策划案例-->
		<div class="case">
			<div class="content-five">
				<ul class="contentbox-five ul_five">
					<li class="con-five five">
						<img class="conimg con" src="__PUBLIC__/mobile/img/img11.png" alt="..." />
						<div class="txt-five">
							<h3>FAD会议策划</h3>
						</div>
					</li>
					<li class="con-five five">
						<img class="conimg con" src="__PUBLIC__/mobile/img/img12.png" alt="..." />
						<div class="txt-five">
							<h3>大唐芙蓉园冰激凌节</h3>
						</div>
					</li>
					<li class="con-five five">
						<img class="conimg con" src="__PUBLIC__/mobile/img/img13.png" alt="..." />
						<div class="txt-five">
							<h3>地产活动</h3>
						</div>
					</li>
					<li class="con-five five">
						<img class="conimg con" src="__PUBLIC__/mobile/img/img14.png" alt="..." />
						<div class="txt-five">
							<h3>封顶仪式</h3>
						</div>
					</li>
					<li class="con-five five">
						<img class="conimg con" src="__PUBLIC__/mobile/img/img15.png" alt="..." />
						<div class="txt-five">
							<h3>高信隆西安分公司开业</h3>
						</div>
					</li>
					<li class="con-five five">
						<img class="conimg con" src="__PUBLIC__/mobile/img/img17.png" alt="..." />
						<div class="txt-five">
							<h3>婚礼</h3>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div id="demo4"></div>
		<include file="Public/footer"/>
		<input type="hidden" value="{$nav_id}" class="nav_id" />
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<script src="__PUBLIC__/mobile/layui-v2.4.5/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function() {
				$('.top_left').click(function(){
					$('.nav').show();
				})
				var toggle = true;
				$(".down").click(function() {
					if(toggle) {
						$(this).children("img").attr("src", "__PUBLIC__/mobile/img/up.png");
						toggle = false;
						$(this).siblings('ul').show();
					} else {
						$(this).children("img").attr("src", "__PUBLIC__/mobile/img/down.png");
						toggle = true;
						$(this).siblings('ul').hide();
					}
				});
				$('.guanbi').click(function() {
										$('.nav').hide();
				});
				var hei = $(window).height();
				console.log('gaodu', hei);
				var nav_hei = $('.nav').height(hei);
				//
				/*鼠标悬停图片放大*/
				$(".con-five").hover(function() {
					$(this).find(".conimg").stop().animate({
						"width": 200,
						"height": 150
					});
				}, function() {
					$(this).find(".conimg").stop().animate({
						"width": 185,
						"height": 132
					});
				});
				$('.top_left').click(function(){
					$('.nav').show();
				})
				var toggle = true;
				$(".down").click(function() {
					if(toggle) {
						$(this).children("img").attr("src", "__PUBLIC__/mobile/img/up.png");
						toggle = false;
						$(this).siblings('ul').show();
					} else {
						$(this).children("img").attr("src", "__PUBLIC__/mobile/img/down.png");
						toggle = true;
						$(this).siblings('ul').hide();
					}
				});
				$('.guanbi').click(function() {
										$('.nav').hide();
				});
				var hei = $(window).height();
				console.log('gaodu', hei);
				var nav_hei = $('.nav').height(hei);
				
				
					var nav_id=$('.nav_id').val();
				console.log('oooo',nav_id);
				var p=1;
				$.ajax({
					type:"post",
					url:"/index.php/Home/Public/selAllData",
					async:true,
					data:{
						'nav_id':nav_id,
						'p':p
					},
					dataType:'json',
					success:function(data){
						console.log('uuuuu',data);
									layui.use(['laypage', 'layer'], function() {
							var laypage = layui.laypage,
								layer = layui.layer;
							//完整功能
							laypage.render({
								count: data.allpage,
								elem: 'demo4',
								first: false,
    							last: false,
								theme: '#e60012',
								limit: 1,
								jump: function(obj, first) {
									var ind = $('#demo4>div>a').length;
									var len = $('#demo4>div>span').length;
									for(var k = 0; k < ind; k++) {
										var hhh = $('#demo4>div').children('a').eq(k - 1).outerWidth(true);
									}
									for(var i = 0; i < len; i++) {
										var sss = $('#demo4>div').children('span').eq(i - 1).outerWidth(true);
									}
									var kkk = hhh * ind;
									var ooo = sss * len;
									var wid = kkk + ooo;
									var widt = $("#demo4").width(wid+5);
									$('#demo4').css({
										'margin': '0 auto'
									});
									$.ajax({
										url: '/index.php/Home/Public/selAllData',
										dataType: 'json',
										type: 'post',
										data:{
											'p':obj.curr,
											'nav_id':nav_id
										},
										success: function(data) {
											 $('.contentbox-five').children().remove();
											 for(var i=0;i<data.classify_article_res.length;i++){
											 console.log('lllll',data.little_classify_res[k].lc_name);
											 		var con='<li class="con-five five"><img class="conimg con" src="'+
											 		data.classify_article_res[i].ca_image+
											 		'" alt="..." /><div class="txt-five"><h3>'+
											 		data.classify_article_res[i].ca_title+'</h3></div></li>';
											 		$('.contentbox-five').append(con);
											 	}
										},
										error: function() {
											alert('hghfhhhffh');
										}
									})
								}
							});
						});
					},
					error:function(){
						alert('pppppppppp');
					
					}
				});
			})
		</script>
	</body>
</html>
