<div class="top">
	<div class="logo">
		<img src="{$company_introduce.ci_logo}" alt="..." />
	</div>
	<div class="contact">
		<div class="service">服务热线:</div>
		<div class="Telephone">
			<div>{$footer.telephone}</div>
			<div>{$footer.telephone1}</div>
		</div>
		<div class="Telephone">
			<div>{$footer.mobile}</div>
			<div>{$footer.mobile1}</div>
		</div>
	</div>
</div>
<div class="nav">
	<ul>
		<volist name="navres" id="navfirst" key="k">
			<if condition="$navsec[$k-1] eq null">
				<li>
					<if condition="$navfirst.nav_url eq ''">
						<a href="javascript:;">{$navfirst.nav_name}</a>
						<else/>
						<a href="{$navfirst.nav_url}/nav_id/{$navfirst.nav_id}">{$navfirst.nav_name}</a>
					</if>
				</li>
				<else/>
				<li class="activity">
					<if condition="$navfirst.nav_url eq ''">
						<a href="javascript:;">{$navfirst.nav_name}</a>
						<else/>
						<a href="{$navfirst.nav_url}/nav_id/{$navfirst.nav_id}">{$navfirst.nav_name}</a>
					</if>
					<ul class="nav_ul">
					<volist name="navsec[$k-1]" id="navsecond">
						<li>
							<if condition="$navsecond.nav_url eq ''">
							    <a href="javascript:;">{$navsecond.nav_name}</a>
							    <else/>
							    <a href="{$navsecond.nav_url}/nav_id/{$navsecond.nav_id}">{$navsecond.nav_name}</a>
						    </if>
						</li>
					</volist>
					</ul>
				</li>
			</if>
		</volist>
	</ul>
</div>
<input type="hidden" value="{$navben.nav_name}" class="nav_name"/>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript">
	$(function(){
		var len=$('.nav>ul>li').length;
		var nav_name=$('.nav_name').val();
		for(var i=0;i<len;i++){
			var cont=$('.nav>ul').children('li').eq(i).children('a').text();
			if(nav_name==cont){
				$('.nav>ul').children('li').eq(i).children('a').addClass('headCorol');
			}
			
		}
	})
</script>