<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>test</title>
<link href="__PUBLIC__/admin/css/style.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/admin/css/css.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="__PUBLIC__/editor/themes/default/default.css" />
<script language="JavaScript" src="__PUBLIC__/admin/js/myjs.js"></script>
<script language="JavaScript" src="__PUBLIC__/admin/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/editor/kindeditor.js"></script>
<script src="__PUBLIC__/editor/lang/zh_CN.js"></script>
<script type="text/javascript">
    KindEditor.ready(function(K) {
        var editor = K.editor({
            allowFileManager : true
        });
        editor=K.create('textarea[name="ah_title3"]',{
            filterMode:false
        });
        K('#image1').click(function() {
            editor.loadPlugin('image', function() {
                editor.plugin.imageDialog({
                    imageUrl : K('#url1').val(),
                    clickFn : function(url, title, width, height, border, align) {
                        K('#url1').val(url);
                        editor.hideDialog();
                    }
                });
            });
        });
    });
</script>
<body>
<div class="place">
<span>位置：</span>
<ul class="placeul">
<li><a href="#">首页管理</a></li>
<li><a href="#">头部管理</a></li>
<li><a href="#">修改信息</a></li>
</ul>
</div>
<form method="post" name="form" action="">
	<ul class="forminfo">
        <input name="ah_id" type="hidden" class="dfinput" value="{$all_head.ah_id}" />
        <li><label><b>*</b>选择页面</label>
            <select name="nav_id" class="dfinput">
                <option value="{$navdata.nav_id}">{$navdata.nav_name}</option>
                <volist name="navres" id="navs" key="k">
                    <option value="{$navs.nav_id}">{$navs.nav_name}</option>
                </volist>
            </select>
        </li>
        <li><label><b>*</b>标题1</label><input name="ah_title1" type="text" class="dfinput" value="{$all_head.ah_title1}" /></li>
        <li><label><b>*</b>英文标题1</label><input name="ah_title4" type="text" class="dfinput" value="{$all_head.ah_title4}" /></li>
        <li><label><b>*</b>标题2</label><input name="ah_title2" type="text" class="dfinput" value="{$all_head.ah_title2}" /></li>
        <li><label><b>*</b>标题3</label>
            <textarea name="ah_title3"  class="dfinput" style="width: 400px;height: 300px;">{$all_head.ah_title3}</textarea>
        </li>
	    <li><label><b>*</b>排序</label><input name="ah_sort" type="text" class="dfinput" value="{$all_head.ah_sort}" /></li>
	    <li><label>&nbsp;</label><input name="submit" type="submit" class="btn" value="确认保存"/></li>
	</ul>
</form>

</body>
</html>