<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="author" content="bright"/>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="flexible" content="initial-dpr=2" />
		<title>薇拉摄影</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/mobile/css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/mobile/css/swiper.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/mobile/css/index.css"/>
		<script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
	</head>
	<body>
		<header>
			<div class="headerCent">
				<div>{$company_introduce.ci_logotitle}</div>
				<div>{$company_introduce.ci_logotitle_english} </div>
			</div>
			<img src="__PUBLIC__/mobile/img/img1.png" alt="img" class="headerCent-right"/>
		</header>
		<!--菜单下拉框-->
		<include file="Public/nav"/>
		<div class="bannerImages">
			<div class="swiper-container">
			    <div class="swiper-wrapper">
			    	<volist name="lunboData" id="lunbo">
			    		<div class="swiper-slide">
				      		<div class="bannerImages-top">
					      		<img src="{$lunbo.lb_image}" alt="..."/>
				      		</div>
				      		<div class="bannerImages-bot">
				      			<div class="bannerImg">
				      				<div class="bannerImg-top"></div>
				      				<div class="bannerImg-bot">
										{$lunbo.lb_title}
				      				</div>
				      			</div>
				      		</div>
				        </div>
	    			</volist>
			    </div>
			    <div class="swiper-pagination"></div>
			</div>	
		</div>
		<!--标题-->
		<div class="PublicCall">
			<img src="__PUBLIC__/mobile/img/img10.png" alt="img"/>
		</div>
		<div class="Tidbit">
			<volist name="short_videoData" id="short_video">
			<div class="TidbitData">
				<img src="{$short_video.sv_image}" alt="img"/>
				<iframe frameborder="0" src="{$short_video.sv_url}" allowFullScreen="true"></iframe>
				<div class="TidbitDataCent">
					<div class="TidbitDataCent-one">
						{$short_video.sv_title}
					</div>
					<div class="TidbitDataCent-two">
						<div>{$short_video.sv_short_title1}</div>
						<div>
							<img src="__PUBLIC__/mobile/img/img35.png" alt="img"/>
						</div>
						<div>{$short_video.sv_short_title2}</div>
					</div>			
					<div class="TidbitDataCent-three">
						<img src="__PUBLIC__/mobile/img/img55.png" alt="img"/>
						<div>
							TIME:{$short_video.sv_time|date="Y-m-d",###}
						</div>
					</div>			
				</div>
			</div>
		    </volist>
		</div>
		<!--公司地址-->			
		<include file="Public/content"/>
		<!--公共底部-->
		<include file="Public/footer"/>
		<!--固定浮窗-->
		<include file="Public/float"/>
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<script src="__PUBLIC__/mobile/js/swiper.js" type="text/javascript" charset="utf-8"></script>
		<script src="__PUBLIC__/mobile/js/index.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function(){
//				轮播图
				var swiper = new Swiper('.bannerImages .swiper-container', {
					spaceBetween: 20,
					centeredSlides: true,
					autoplay: {
						delay: 2500,
						disableOnInteraction: false,
					},
					pagination: {
						el: '.bannerImages .swiper-pagination',
						clickable: true,
					},
				});
//				播放视频
				$(".TidbitData").click(function(){
					var index=$(this).index();
					$(this).children("img").hide();
					$(this).children(".TidbitDataCent").hide();
					$(this).children("iframe").show();
					$(this).siblings().children("img").show();
					$(this).siblings().children(".TidbitDataCent").show();
					$(this).siblings().children("iframe").hide();
				});
			});
		</script>
	</body>
</html>
