.btn{width: 100px;height: 40px;background-color: #5ba1bf;border-radius: 10px;}
.btn1{width: 200px;height: 40px;background-color: #5ba1bf;border-radius: 10px;margin-top: 5px;}
.select{width: 100px;height: 30px;line-height: 30px;border:solid 1px #a7b5bc;}
.select1{width: 150px;height: 30px;line-height: 30px;border:solid 1px #a7b5bc;}
..dfinput1{width:150px; height:30px; line-height:30px; border-top:solid 1px #a7b5bc; border-left:solid 1px #a7b5bc; border-right:solid 1px #ced9df; border-bottom:solid 1px #ced9df; background:url(__PUBLIC__/images/admin/inputbg.gif) repeat-x; text-indent:10px;}

.menuson li a:hover, .menuson li a.current{background-color: #f0f9fd;text-decoration:none;}
/* top */
.top-user{width: 80%;height: 30px;line-height: 30px;margin: auto;text-align: right;}
.top-navigation{width: 100%;height: 88px;line-height: 88px;background-color: #f0f9fd;}

.Paginationn a:hover,.current{background-color: #565656;border: 1px solid #505050;color: #ffffff; }
.Paginationn{float: right;height: auto;_height: 45px; line-height: 20px;margin-right: 15px;_margin-right: 5px; color:#565656;margin-top: 10px;_margin-top: 20px; clear:both;}
.Paginationn a,.Paginationn span{ font-size: 14px;text-decoration: none;display: block;float: left;color: #e5e5e5;border: 1px solid #ccc;height: 34px;line-height: 34px;margin: 0 2px;width: 34px;text-align: center;}


/* index */
.index-main{width: 80%;margin: auto;min-height: 800px;border:solid 1px #e1e1e1;}
.index-top{width: 100%;height: 100px;line-height: 100px;border-bottom:solid 1px #e1e1e1;}
.index-middle{width: 15%;height: 700px;border-right:solid 1px #e1e1e1;float: left;}
.index-right{width: 84.5%;min-height: 700px;float: left;}
.index-li{width: 100%;height: 50px;line-height: 50px;font-size: 16px;text-align: center;border-bottom:solid 1px #e1e1e1;}

