<div class="footer">
	<div class="gray">全国统一联系热线</div>
	<div>{$footer.telephone}</div>
	<div class="gray">我们的地址</div>
	<div>{$footer.address}</div>
	<div class="Scavenging">
		<div class="Scavenging_left">
			<div><img src="{$footer.wx_erweima}" alt="..." /></div>
			<div>官方微信</div>
		</div>
		<div class="Scavenging_left">
			<div><img src="{$footer.wb_erweima}" alt="..." /></div>
			<div>官方微博</div>
		</div>
	</div>
	<div class="gray last">{$footer.copyright}</div>
	<div class="gray last">{$footer.record}&nbsp;&nbsp;&nbsp;技术支持：泰雁科技</div>
</div>