<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>在线应聘</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/reset.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/index.css" />
	</head>

	<body>
		<!--顶部-->
		<div class="header">
			<div class="welcome">
				<div class="welcome-left">您好！{$company_introduce.ci_name}!</div>
			</div>
			<div class="logo">
				<div class="logo-center">
					<div class="logo-left">
						<a href="javascript;"><img src="{$company_introduce.ci_logo}" alt="..." /></a>
					</div>
					<div class="logo-right">
						<div><img src="__PUBLIC__/Home/images/rexian.png" alt="..." /><span>{$company_introduce.ci_telephone}</span></div>
					</div>
				</div>
			</div>
			<include file="Public/nav" />
		</div>
		<!--图片-->
		<div class="exclusive" style="background: url({$background_image_Data[0].bi_image})no-repeat top center;height: 300px;background-size: 100% 100%;width:100%;"></div>
		<!--在线应聘-->
		<div class="line">在线应聘</div>
		<!--应聘信息-->
		<!-- /index.php/Admin/Talent/employee_add/jid/{$job.jid} -->
		<div class="information">
			<div class="information-top">您应聘的是：<span>{$company_introduce.ci_name}-{$job.jname}-{$job.jjob}</span>，请填写以下资料后提交您的应聘信息。</div>
			<form action="" method="post" id="into">
				<div><span>姓名：</span><input type="text" value="" name="tname" class="nameVal" /><span><span style="color: #FF0000;">*</span>如：王先生</span>
				</div>
				<div>
					<div><span>年龄：</span><input type="text" value="" name="tage" /></div>
					<div>性别：<input type="radio" name="tsex" checked="checked" value="0" />男&nbsp;&nbsp;&nbsp;<input type="radio" name="tsex" value="1" />女</div>
				</div>
				<div><span>电话：</span><input type="text" value="" name="ttelephone" class="phoneVal" /><span><span style="color: #FF0000;">*</span>11位手机或座机</span>
				</div>
				<div><span>邮箱：</span><input type="text" name="temail" /></div>
				<div><span>地址：</span><input type="text" value="" name="taddress" class="adres" /><span><span style="color: #FF0000;">*</span>您的详细通讯地址</span>
				</div>
				<div class="text">
					<div>
						<p>教育</p>
						<p>经历：</p>
					</div>
					<textarea name="teducation" rows="10" cols="45">
					</textarea>
					<span> 最多可输入256个字</span>
				</div>
				<div class="text">
					<div>
						<p>工作</p>
						<p>经历：</p>
					</div>
					<textarea name="tworking" rows="10" cols="45">
					</textarea>
					<span> 最多可输入256个字</span>
				</div>
				<div class="text">
					<div>
						<p>其他</p>
						<p>信息：</p>
					</div>
					<textarea name="tmessage" rows="10" cols="45">
					</textarea>
					<span> 最多可输入256个字</span>
				</div>
				<input type="hidden" class="jjob" value="{$job.jid}">
				<div><input type="button" name="" id="btn" value="提交您的应聘信息" /></div>
			</form>
		</div>
		<!--公司地址-->
		<include file="Public/footer" />
		<div class="address">
			<div class="address-center">
				<div><img src="{$background_image_Data[1].bi_image}" alt="..." style="width: 425px;height: 66px;" /></div>
				<div>
					<div>服务热线：<span>{$footer.ftelephone}</span></div>
					<div>地址：{$footer.faddress}</div>
					<div>传真：{$footer.ffax}</div>
					<div>邮箱：{$footer.femail}</div>
					<div>备案号： {$footer.frecord}</div>
					<div>技术支持：泰雁科技</div>
				</div>
				<div><img src="{$footer.ferweima}" alt="..." style="width: 130px;height:130px;" /></div>
			</div>
		</div>
		<div class="tb"><img src="__PUBLIC__/Home/images/TB.png" alt="..." /></div>
		<div class="bg"></div>
		<div class="Sidebar">
			<div>
				<a href="javascript;"></a>
			</div>
			<div class="code"><img src="__PUBLIC__/Home/images/ewm.png" alt="..." /></div>
			<div class="phone">
				<a href="javascript;">029-86353092</a>
			</div>
			<div class="top" style="display: none;">

			</div>
		</div>
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<!--<script src="js/slider.js" type="text/javascript" charset="utf-8"></script>-->
		<script type="text/javascript">
			$(function() {
				$(window).on('scroll', function() {
					var scrollTop = $(this).scrollTop();
					if($(window).scrollTop() >= 300) {
						$('.top').show();
					} else if(scrollTop == 0) {
						$('.top').hide();
					}
				});
				$('.top').click(function() {
					$('html,body').animate({
						scrollTop: 0
					});
				});
				$("#btn").click(function() {
					var Name = $(".nameVal").val();
					var adres = $(".adres").val();
					var Phone = $(".phoneVal").val();
					if(Name == "" || Name == null) {
						alert('姓名不能为空!');
						return false;
					}else{
						var textVal= /^[\u4E00-\u9FA5]{2,10}$/;
						if(textVal.test(Name)==false){
							alert('姓名格式不正确!');
							return false;
						}
					}
					if(Phone == "" || Phone == null) {
						alert('手机号不能为空!');
						return false;
					} else {
						var valTxt = /^\d{11}$/;
						if(valTxt.test(Phone) == false) {
							alert('手机号格式不正确!');
							return false;
						}
					}
					if(adres == "" || adres == null) {
						alert('地址不能为空!');
						return false;
					}else{
						var textVal= /^[\u4E00-\u9FA5]$/;
						if(textVal.test(adres)==false){
							alert('地址格式不正确!');
							return false;
						}
					}
					var jid11 = $('.jjob').val();
					var tname = $('input[name="tname"]').val();
					var tage = $('input[name="tage"]').val();
					var tsex = $('input[name="tsex"]').val();
					var ttelephone = $('input[name="ttelephone"]').val();
					var temail = $('input[name="temail"]').val();
					var taddress = $('input[name="taddress"]').val();
					var teducation = $('input[name="teducation"]').val();
					var tworking = $('input[name="tworking"]').val();
					var tmessage = $('input[name="tmessage"]').val();
					$.ajax({
						url: '/index.php/Home/Public/bbb/jid'+jid11,
						type: 'post',
						data: {
							tname: tname,
							tage: tage,
							tsex: tsex,
							ttelephone: ttelephone,
							temail: temail,
							taddress: taddress,
							teducation: teducation,
							tworking: tworking,
							tmessage: tmessage
						},
						success: function(data) {
							console.log(jid11);
							if(data==true){
								alert('申请成功');
								window.location.href="/index.php/Home/Index/recruit1/jid/"+jid11;
							}else{
								alert('申请失败');
								window.location.href="/index.php/Home/Index/recruit1/jid/"+jid11;
							}
							
						}
					})
				})
			})
		</script>
	</body>
</html>