<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>人才招聘</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/reset.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/index.css" />
	</head>

	<body>
		<div class="header">
			<div class="welcome">
				<div class="welcome-left">您好！{$company_introduce.ci_name}!</div>
			</div>
			<div class="logo">
				<div class="logo-center">
					<div class="logo-left">
						<a href="javascript;"><img src="{$company_introduce.ci_logo}" alt="..." /></a>
					</div>
					<div class="logo-right">
						<div><img src="__PUBLIC__/Home/images/rexian.png" alt="..." /><span>{$company_introduce.ci_telephone}</span></div>
					</div>
				</div>
			</div>
			<include file="Public/nav"/>
		</div>
		<!--图片-->
		<div class="exclusive" style="background: url({$background_image_Data[0].bi_image})no-repeat top center;height: 300px;background-size: 100% 100%;width:100%;"></div>
		<!--人才招聘中心-->
		<div class="recruit">
			<div class="recruit-top">人才招聘中心</div>
			<div class="recruit_classification">
				<div class="recruit_table">
					<volist name="job11_res" id="job">
					<table width="1120" border="1" cellspacing="0" cellpadding="0" class="tab_b">
							<tr>
								<td width="450">
									<p>&nbsp;&nbsp;&nbsp;<strong>{$company_introduce.ci_name}-{$job.jname}</strong></p>
								</td>
								<td width="70" align="center">招聘岗位：</td>
								<td width="550">&nbsp;&nbsp;
									<strong>{$job.jjob} | ...</strong>
								</td>
								<td width="70" align="center">招聘人数：</td>
								<td width="80">&nbsp;&nbsp;<strong>{$job.jnum}</strong></td>
								<td width="100" align="center">
									<a href="/index.php/Home/Index/recruit1/jid/{$job.jid}/nav_id/{$nav_id}" style="font-size:16px; color:#FE0000; text-decoration:none">查看详情</a>
								</td>
							</tr>
							<tr>
								<td colspan="6" style="padding:12px" align="left"><span style="color:#666666; text-align:left">	任职要求：	{$job.jrequire}...</span></td>
							</tr>
					</table>
					</volist>
				</div>
				<div class="fy">
					<form method="get" class="/index.php/Home/Index/recruit">
						<a href="/index.php/Home/Index/recruit/p/1">首页&nbsp;</a> <a href="/index.php/Home/Index/recruit/p/{$p1}">上一页&nbsp;</a><a href="/index.php/Home/Index/recruit/p/{$p2}">下一页&nbsp;</a> <a href="/index.php/Home/Index/recruit/p/{$page}">尾页&nbsp;</a>&nbsp;页次：
						<strong><font color=red>{$p}</font>/{$page}</strong>页 &nbsp;共<b><font color='#FF0000'>{$allcount}</font></b>条记录  <!-- <b>10</b>条记录/页 --> 转到：<input type='uname' size=4 name="p">
						<input class=input type='submit' value=' Goto '> </span>
					</form>
				</div>
			</div>
		</div>
		<!--公司地址-->
		<include file="Public/footer"/>
		<div class="address">
			<div class="address-center">
				<div><img src="{$background_image_Data[1].bi_image}" alt="..."  style="width: 425px;height: 66px;" /></div>
				<div>
					<div>服务热线：<span>{$footer.ftelephone}</span></div>
					<div>地址：{$footer.faddress}</div>
					<div>传真：{$footer.ffax}</div>
					<div>邮箱：{$footer.femail}</div>
					<div>备案号： {$footer.frecord}</div>
					<div>技术支持：泰雁科技</div>
				</div>
				<div><img src="{$footer.ferweima}" alt="..." style="width: 130px;height:130px;"/></div>
			</div>
		</div>
		<div class="tb"><img src="__PUBLIC__/Home/images/TB.png" alt="..." /></div>
		<div class="bg"></div>
		<div class="Sidebar">
			<div>
				<a href="javascript;"></a>
			</div>
			<div class="code"><img src="__PUBLIC__/Home/images/ewm.png" alt="..." /></div>
			<div class="phone">
				<a href="javascript;">029-86353092</a>
			</div>
			<div class="top" style="display: none;">

			</div>
		</div>
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<script type="text/javascript">
			$(function() {
				//				导航下拉列表
				$('.nav-center>ul>li').hover(function() {
					$(this).addClass("hover");
					$(this).children("ul").slideDown();
				}, function() {
					$(this).removeClass("hover");
					$(this).children("ul").slideUp();
				});

				//企业概况切换
				$('.sub-nav>ul>li').click(function() {
					var ind = $(this).index();
					console.log('下标为', ind);
					$('.Situation-right').children('div').eq(ind).show().siblings().hide();
				});
				$(window).on('scroll', function() {
					var scrollTop = $(this).scrollTop();
					console.log(scrollTop);
					if($(window).scrollTop() >= 500) {
						$('.top').show();
					} else if(scrollTop == 0) {
						$('.top').hide();
					}
				});
				$('.top').click(function() {
					$('html,body').animate({
						scrollTop: 0
					});
				});

				$('.code').mouseenter(function() {
					$(this).children('img').fadeIn();
				});
				$('.code').mouseleave(function() {
					$(this).children('img').fadeOut();
				});
				$('.phone').mouseenter(function() {
					$(this).children('a').fadeIn();
				});
				$('.phone').mouseleave(function() {
					$(this).children('a').fadeOut();
				})
			})
		</script>
	</body>

</html>