<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="flexible" content="initial-dpr=2" />
		<title>在职管理</title>
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/index.css" />
		<script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
	</head>

	<body>
		<!--顶部-->
		<div class="header">
			<div class="welcome">
				<div class="welcome-left">您好！欢迎访问西安盾安工贸有限公司!</div>
			</div>
			<div class="logo">
				<div class="logo-center">
					<div class="logo-left">
						<a href="javascript;"><img src="images/logo.png" alt="..." /></a>
					</div>
					<div class="logo-right">
						<div><img src="images/rexian.png" alt="..." />
							<div>029-86353092</div>
						</div>
					</div>
				</div>
			</div>
			<div class="nav">
				<div class="nav-center">
					<ul>
						<li>
							<a href="index.html">网站首页</a>
						</li>
						<li>
							<a href="AboutUs.html">企业概况</a>
						</li>
						<li>
							<a href="business.html">主营业务</a>
						</li>
						<li>
							<a href="business.html">劳务派遣</a>
						</li>
						<li>
							<a href="recruit.html">招聘外包</a>
						</li>
						<li>
							<a href="social.html">社保代理</a>
						</li>
						<li>
							<a href="Train.html">企业培训</a>
						</li>
						<li>
							<a href="news.html">新闻资讯</a>
						</li>
						<li>
							<a href="policy.html">政策法则</a>
						</li>
						<li>
							<a href="personnel.html">人才招聘</a>
						</li>
						<li>
							<a href="lianxi.html">联系我们</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!--图片-->
		<div class="exclusive"></div>
		<!--企业概况-->
		<div class="Situation">
			<div class="Situation-top">
				<p>主营业务</p>
				<p>MAIN BUSINESS</p>
			</div>
			<div class="classification">
				<ul>
					<li>
						<a href="social.html">社会保险代理</a>
					</li>
					<li>
						<a href="fund.html">住房公积金代缴</a>
					</li>
					<li>
						<a href="money1.html">薪酬管理</a>
					</li>
					<li class="on">
						<a href="Administration.html">在职管理</a>
					</li>
					<li>
						<a href="system.html">用工制度梳理</a>
					</li>
					<li>
						<a href="contract.html">劳动合同管理</a>
					</li>
				</ul>
			</div>
			<div class="Situation-bot">
				<div class="SituationRight-top">
					<span>您当前位置：<a href="index.html">首页</a> > 主营业务 > 在职管理</span>
					<h1>在职管理</h1>
				</div>
				<div class="SituationRight-bot">
				</div>
			</div>
		</div>
		<!--底部-->
		<div class="footer-nav">
			<ul>
				<li>
					<a href="index.html">网站首页</a>
				</li>
				<li>
					<a href="AboutUs.html">企业概况</a>
				</li>
				<li>
					<a href="business.html">主营业务</a>
				</li>
				<li>
					<a href="business.html">劳务派遣</a>
				</li>
				<li>
					<a href="recruit.html">招聘外包</a>
				</li>
				<li>
					<a href="social.html">社保代理</a>
				</li>
				<li>
					<a href="Train.html">企业培训</a>
				</li>
				<li>
					<a href="news.html">新闻资讯</a>
				</li>
				<li>
					<a href="policy.html">政策法则</a>
				</li>
				<li>
					<a href="personnel.html">人才招聘</a>
				</li>
				<li>
					<a href="lianxi.html">联系我们</a>
				</li>
			</ul>
		</div>
		<div class="address">
			<div class="address-center">
				<div>
					<div>服务热线：<span>029-86353092</span></div>
					<div>地址：西安市龙首北路东段宫园壹号4号楼</div>
					<div>传真：029-86353092</div>
					<div>邮箱：dalabor@shieldun.com</div>
					<div>备案号： 陕ICP备16010527号</div>
					<div>技术支持：无忧互联</div>
				</div>
				<div><img src="images/1471514984722.jpg" alt="..." /></div>
			</div>
		</div>
	</body>

</html>