<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="flexible" content="initial-dpr=2" />
		<title>主营业务</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/reset.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/index.css" />
		<script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
	</head>
<style type="text/css">
	.buul{
		background-color: firebrick;
	}
</style>
	<body>
		<!--顶部-->
		<div class="header">
			<div class="welcome">
				<div class="welcome-left">您好！{$company_introduce.ci_name}!</div>
			</div>
			<div class="logo">
				<div class="logo-center">
					<div class="logo-left">
						<a href="javascript;"><img src="{$company_introduce.ci_logo}" alt="..." /></a>
					</div>
					<div class="logo-right">
						<div><img src="__PUBLIC__/Mobile/images/rexian.png" alt="..." />
							<div>{$company_introduce.ci_telephone}</div>
						</div>
					</div>
				</div>
			</div>
			<include file="Public/nav"/>
		</div>
		<!--图片-->
		<div class="exclusive" style="background: url({$background_image_Data[0].bi_image})no-repeat top center;height: 300px;"></div>
		<!--企业概况-->
		<div class="Situation">
			<div class="Situation-top">
				<p>{$primary_work_classify_res.pwc_name}</p>
				<p>MAIN BUSINESS</p>
			</div>
			<div class="classification">
				<ul>
					<volist name="primary_work_res" id="primary_work" key="k">
						 <li>
						      <a href="/index.php/Mobile/Index/business/nav_id/{$nav_id}/pw_id/{$primary_work.pw_id}">{$primary_work.pw_name}</a>
						      
					    </li>
					</volist>
				</ul>
			</div>
			<div class="Situation-bot">
				<volist name="primary_work_res" id="primary_work" key="k">
					<if condition="$k eq 1">
						<div>
							<div class="SituationRight-top">
								<span>您当前位置：<a href="/index.php/Mobile/Index/index">首页</a> > {$primary_work_classify_res.pwc_name} > 
                                <if condition="$primary_work_res11 eq ''">
										
								 {$primary_work_res[0]['pw_name']} 
								<else/>
								{$primary_work_res11.pw_name}
								</if>
								</span>
								<h1>
									<if condition="$primary_work_res11 eq ''">
										 {$primary_work_res[0]['pw_name']} 
										<else/>
										{$primary_work_res11.pw_name}
									</if>
								</h1>
							</div>
							<div class="SituationRight-bot">
								<if condition="$primary_article_res[0][0] eq ''">
									
									<volist name="primary_articles11" id="primary_article11">
									<p>{$primary_article11.pa_content}</p>
								    </volist>
								    <else/>
								    <volist name="primary_article_res[$k-1]" id="primary_article">
									<p>{$primary_article.pa_content}</p>
								    </volist>
								</if> 
							</div>
						</div>
						<else/>
					</if>
				</volist>
			</div>
		</div>
		<!--底部-->
		<include file="Public/footer"/>
		<div class="address">
			<div class="address-center">
				<div>
					<div>服务热线：<span>{$footer.ftelephone}</span></div>
					<div>地址：{$footer.faddress}</div>
					<div>传真：{$footer.ffax}</div>
					<div>邮箱：{$footer.femail}</div>
					<div>备案号： {$footer.frecord}</div>
					<div>技术支持：泰雁科技</div>
				</div>
				<div><img src="{$footer.ferweima}" alt="..." style="width: 130px;height:130px;"/></div>
			</div>
		</div>
	</body>

</html>
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript">
	$(function(){
//		var strongeVal = localStorage.color;
//		var headerLength = $(".classification>ul>li").length;
//		for(var k = 0; k < headerLength; k++) {
//			var valTxt = $(".classification>ul").children("li").eq(k).children("a").text();
//			if(valTxt == strongeVal) {
//				$(".classification>ul").children("li").eq(k).addClass("on");
//			}
//		}
//		$(".classification>ul>li").click(function(event) {
//			var txt = $(this).children("a").text();
//			var hrefVal = $(this).children("input").val();
//			// 设置h5储存
//			localStorage.color = txt;
//			window.location.href = hrefVal;
//			console.log("当前点击的是:",txt);
//			console.log("路径是:",hrefVal);
//		});
	})
</script>