<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="flexible" content="initial-dpr=2" />
		<title>新闻资讯</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/reset.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/index.css" />
		<script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
	</head>

	<body>
		<!--顶部-->
		<div class="header">
			<div class="welcome">
				<div class="welcome-left">您好！{$company_introduce.ci_name}!</div>
			</div>
			<div class="logo">
				<div class="logo-center">
					<div class="logo-left">
						<a href="javascript;"><img src="{$company_introduce.ci_logo}" alt="..." /></a>
					</div>
					<div class="logo-right">
						<div><img src="__PUBLIC__/Mobile/images/rexian.png" alt="..." />
							<div>{$company_introduce.ci_telephone}</div>
						</div>
					</div>
				</div>
			</div>
			<include file="Public/nav"/>
		</div>
		<!--图片-->
		<div class="exclusive" style="background: url({$background_image_Data[0].bi_image})no-repeat top center;height: 300px;"></div>
		<!--企业概况-->
		<div class="Situation">
			<div class="Situation-top">
				<p>{$navfirst.nav_name}</p>
				<p>NEWS</p>
			</div>
			<div class="classification">
				<ul>
					<volist name="navsecond" id="second" key="k">
							
								<!--<li>
									
									<a href="/index.php/Mobile/Index/news/nav_id/{$second.nav_id}/nc_id/{$news_classify_res11[$k-1].nc_id}">{$second.nav_name}</a><b>&gt;</b>
								</li>-->
								
								<li>
									
									<a href="/index.php/Mobile/Index/news/nav_id/{$second.nav_id}/nc_id/{$news_classify_res11[$k-1].nc_id}">{$second.nav_name}</a>
								</li>
							
						</volist>
				</ul>
			</div>
			<div class="Situation-bot">
				<div class="SituationRight-top">
					<span>您当前位置：<a href="/index.php/Mobile/Index/index">首页</a> > {$navfirst.nav_name} > {$news_classify_res.nc_name}</span>
					<h1>{$news_classify_res.nc_name}</h1>
				</div>
				<div class="SituationRight-bot">
					
					<volist name="news_article_res" id="news_article" key="k">
						
						<if condition="$k lt 10">
							<div class="news">
								<div class="news-left">
									<div>0{$k}</div>
									<div>{$news_article.na_update|date="Y-m",###}</div>
								</div>
								<div class="news-right">
									<div>
										<a href="/index.php/Mobile/Index/news1/na_id/{$news_article.na_id}/nav_id/{$news_classify_res.nav_id}">{$news_article.na_title}</a>
									</div>
									<div>{$news_article.na_content}</div>
								</div>
							</div>
							<else/>
							<div class="news">
								<div class="news-left">
									<div>{$k}</div>
									<div>{$news_article.na_update|date="Y-m",###}</div>
								</div>
								<div class="news-right">
									<div>
										<a href="/index.php/Mobile/Index/news1/na_id/{$news_article.na_id}/nav_id/{$news_classify_res.nav_id}">{$news_article.na_title}</a>
									</div>
									<div>{$news_article.na_content}</div>
								</div>
							</div>
						</if>
						
					</volist>
					
				</div>
			</div>
		</div>
		<!--底部-->
		<include file="Public/footer"/>
		<div class="address">
			<div class="address-center">
				<div>
					<div>服务热线：<span>{$footer.ftelephone}</span></div>
					<div>地址：{$footer.faddress}</div>
					<div>传真：{$footer.ffax}</div>
					<div>邮箱：{$footer.femail}</div>
					<div>备案号： {$footer.frecord}</div>
					<div>技术支持：泰雁科技</div>
				</div>
				<div><img src="{$footer.ferweima}" alt="..." style="width: 130px;height:130px;"/></div>
			</div>
		</div>
	</body>

</html>