<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="author" content="bright"/>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="flexible" content="initial-dpr=2" />
		<title>薇拉摄影</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/swiper.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Mobile/css/index.css"/>
		<script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
	</head>
	<body>
		<header>
			<div class="headerCent">
				<div>{$company_introduce.ci_logotitle}</div>
				<div>{$company_introduce.ci_logotitle_english} </div>
			</div>
			<img src="__PUBLIC__/Mobile/img/img1.png" alt="img" class="headerCent-right"/>
		</header>
		<!--菜单下拉框-->
		<include file="Public/nav"/>
		<div class="bannerImages">
			<div class="swiper-container">
			    <div class="swiper-wrapper">
			        <volist name="lunboData" id="lunbo">
			    		<div class="swiper-slide">
				      		<div class="bannerImages-top">
					      		<img src="{$lunbo.lb_image}" alt="..."/>
				      		</div>
				      		<div class="bannerImages-bot">
				      			<div class="bannerImg">
				      				<div class="bannerImg-top"></div>
				      				<div class="bannerImg-bot">
										{$lunbo.lb_title}
				      				</div>
				      			</div>
				      		</div>
				        </div>
	    			</volist>
			    </div>
			    <div class="swiper-pagination"></div>
			</div>	
		</div>
		<!--标题-->
		<div class="PublicCall">
			<img src="__PUBLIC__/Mobile/img/img7.png" alt="img"/>
		</div>
		<!--分类-->
		<div class="Interior">
			<volist name="room_scenery_classify_res" id="room_scenery_classify">
				<a href="/index.php/Mobile/Index/erjifenlei/rsc_id/{$room_scenery_classify.rsc_id}">{$room_scenery_classify.rsc_name}</a>
			</volist>
		</div>
		<!--风格样片-->
		<div class="StyleSample">
			<volist name="room_scenery_res" id="room_scenery" key="k">
				<a href="/index.php/Mobile/Index/Information/rs_id/{$room_scenery.rs_id}">
					<img src="{$room_scenery.rs_image}" alt="img"/>
					<div class="StyleSampleCent">
						<div class="StyleSampleCent-top">
							{$room_scenery.rs_name}
						</div>
						<div class="StyleSampleCent-bot">
							{$room_scenery_classify11[$k-1].rsc_name}
						</div>
					</div>
				</a>
			</volist>
		</div>
		<div class="StyleSample-bot">
			总共有{$rspage}页
			<div class="numPage"><i>{$rsallcount}</i>条</div>
			<div id="demo1"></div>
		</div>
		<!--公司地址-->			
		<include file="Public/content"/>
		<!--公共底部-->
		<include file="Public/footer"/>
		<!--固定浮窗-->
		<include file="Public/float"/>
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<script src="__PUBLIC__/Mobile/js/swiper.js" type="text/javascript" charset="utf-8"></script>
		<script src="__PUBLIC__/Mobile/js/index.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function(){
//				轮播图
				var swiper = new Swiper('.bannerImages .swiper-container', {
					spaceBetween: 20,
					centeredSlides: true,
					autoplay: {
						delay: 2500,
						disableOnInteraction: false,
					},
					pagination: {
						el: '.bannerImages .swiper-pagination',
						clickable: true,
					},
				});
//			    js取消分类的下边框
//				拿到总长度
				var leng=$(".Interior>a").length;
//				向下取整,拿到保留下边框的行数和个数
				var valNumber= Math.floor(Number(leng/3));
				var num=valNumber*3;
//				需要去除边框的个数
				var splictNum=Number(leng-num);
//				去除最后一行的下边框
				if(splictNum==0){
					$(".Interior").children("a").eq(leng-1).addClass("hideBorder");
					$(".Interior").children("a").eq(leng-2).addClass("hideBorder");
					$(".Interior").children("a").eq(leng-3).addClass("hideBorder");
				}
				if(splictNum==1){
					$(".Interior").children("a").eq(leng-1).addClass("hideBorder");
				}
				if(splictNum==2){
					$(".Interior").children("a").eq(leng-1).addClass("hideBorder");
					$(".Interior").children("a").eq(leng-2).addClass("hideBorder");
				}
			});
		</script>
	</body>
</html>
