<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>{$navben.nav_name}</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/reset.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/index.css" />
		<link rel="shortcut icon" href="__PUBLIC__/Home/img/ic.ico" type="image/x-icon" />
		<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=UoZYbubqTRqPAY6ptP4Hs5TcyciLHxYN"></script>
	</head>

	<body>
		<!--头部-->
		<include file="Public/nav"/>
		<!--地图-->
		<div class="maps">
			<!--"-->
			<div  class="map" id="allmap"></div>
			<div class="adree addree">{$company_introduce.ci_name}</div>
			<input type="hidden" class="heng" value="{$map.heng}" />
			<input type="hidden" class="zong" value="{$map.zong}" />
		</div>
		<!--底部-->
		<include file="Public/footer"/>
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<script type="text/javascript">
			$(function() {
				var heng=$('.heng').val();
				var zong=$('.zong').val();
				// 百度地图API功能
				var map = new BMap.Map("allmap");
				var point = new BMap.Point(heng, zong);
				map.centerAndZoom(point, 15);

				var marker = new BMap.Marker(new BMap.Point(heng, zong)); // 创建点	
				//添加覆盖物

				map.addOverlay(marker); //增加点

				//清除覆盖物
				
				//				导航二级菜单
				$('.activity').mouseenter(function() {
					$('.nav_ul').show();
				});
				$('.activity').mouseleave(function() {
					$('.nav_ul').hide();
				});
			})
		</script>
	</body>

</html>