<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>{$navben.nav_name}</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/reset.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/index.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/swiper.css" />
		<link rel="shortcut icon" href="__PUBLIC__/Home/img/ic.ico" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/layui-v2.4.5/layui/css/layui.css" />
	</head>

	<body>
		<!--头部-->
		<include file="Public/nav" />
		<!--banner-->
		<div class="banner"><img src="{$background_image_data[0].bi_image}" alt="..." /></div>

		<div class="activity">
			<div class="case_top top_padding">
				<span>新闻中心 </span>
				<span>news</span>
			</div>
			<div class="information">
				<volist name="little_classify_res" id="little_classify">
					<div>{$little_classify.lc_name}<input type="hidden" class="lc_id" value="{$little_classify.lc_id}" /></div>
				</volist>
			</div>
			<div class="activity_bot">
			</div>
		</div>
		<div id="demo4"></div>
		<!--底部-->
		<include file="Public/footer" />
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<script src="__PUBLIC__/Home/js/swiper.js" type="text/javascript" charset="utf-8"></script>
		<script src="__PUBLIC__/Home/layui-v2.4.5/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function() {
				//				导航二级菜单
				$('.activity').mouseenter(function() {
					$('.nav_ul').show();
				});
				$('.activity').mouseleave(function() {
					$('.nav_ul').hide();
				});
				
				$('.information>div').click(function(){
					$(this).addClass('info').siblings().removeClass();
				})
				//				活动策划资讯
				var lc_id = $('.lc_id').val();

				$.ajax({
					type: "post",
					url: "/index.php/Home/Public/newsdata",
					async: true,
					data: {
						'lc_id': lc_id,
						'p': 1
					},
					success: function(data) {
						console.log('uuuuu', data.classify_article_res[0]);
						layui.use(['laypage', 'layer'], function() {
							var laypage = layui.laypage,
								layer = layui.layer;
							//完整功能
							laypage.render({
								count: data.allpage,
								elem: 'demo4',
								first: false,
								last: false,
								theme: '#e60012',
								limit: 1,
								jump: function(obj, first) {
									var ind = $('#demo4>div>a').length;
									var len = $('#demo4>div>span').length;
									for(var k = 0; k < ind; k++) {
										var hhh = $('#demo4>div').children('a').eq(k - 1).outerWidth(true);
									}
									for(var i = 0; i < len; i++) {
										var sss = $('#demo4>div').children('span').eq(i - 1).outerWidth(true);
									}
									var kkk = hhh * ind;
									var ooo = sss * len;
									var wid = kkk + ooo;
									var widt = $("#demo4").width(wid + 80);
									$('#demo4').css({
										'margin': '0 auto'
									});
									$.ajax({
										url: '/index.php/Home/Public/newsdata',
										dataType: 'json',
										type: 'post',
										data: {
											'p': obj.curr,
											'lc_id': lc_id,
										},
										success: function(data) {
											$('.activity_bot').children().remove();
											for(var i = 0; i < data.classify_article_res.length; i++) {
												var con = '<div class="activityBot_lft"><div class="swiper-container1 swiper-container"><div class="swiper-wrapper1 swiper-wrapper"><div class="swiper-slide1 swiper-slide"><img src="' +
													data.classify_article_res[i].ca_image +
													'" alt="..." /><div class="slide_bot">' +
													data.classify_article_res[i].ca_title +
													'</div></div><div class="swiper-slide1 swiper-slide"><img src="' +
													data.classify_article_res[i].ca_image +
													'" alt="..." /><div class="slide_bot">' +
													data.classify_article_res[i].ca_title +
													'</div></div><div class="swiper-slide1 swiper-slide"><img src="' +
													data.classify_article_res[i].ca_image +
													'" alt="..." /><div class="slide_bot">' +
													data.classify_article_res[i].ca_title +
													'</div></div></div><div class="swiper-pagination1 swiper-pagination"></div></div></div><div class="activityBot_center"><a href="javascript:;">' +
													data.classify_article_res[i].ca_title +
													'</a><a href="javascript:;">' +
													data.classify_article_res[i].ca_title +
													'</a><a href="javascript:;">' +
													data.classify_article_res[i].ca_title +
													'</a><a href="javascript:;">' +
													data.classify_article_res[i].ca_title +
													'</a><a href="javascript:;">' +
													data.classify_article_res[i].ca_title +
													'</a><a href="javascript:;">' +
													data.classify_article_res[i].ca_title +
													'</a></div><div class="activityBot_right"><div class="Celebrate_top"><img src="' +
													data.classify_article_res[i].ca_image +
													'" alt="..." /></div><div class="Celebrate_bot"><a href="javascript:;">' +
													data.classify_article_res[i].ca_title +
													'<span>' + data.classify_article_res[i].ca_time +
													'</span></a><a href="javascript:;">' +
													data.classify_article_res[i].ca_title +
													'<span>' + data.classify_article_res[i].ca_time +
													'</span></a><a href="javascript:;">' +
													data.classify_article_res[i].ca_title +
													'<span>' + data.classify_article_res[i].ca_time +
													'</span></a><a href="javascript:;">' +
													data.classify_article_res[i].ca_title +
													'<span>' + data.classify_article_res[i].ca_time +
													'</span></a></div></div>';

											}
											$('.activity_bot').append(con);
											var swiper = new Swiper('.swiper-container1', {
												spaceBetween: 30,
												centeredSlides: true,
												autoplay: {
													delay: 2500,
													disableOnInteraction: false,
												},
												pagination: {
													el: '.swiper-pagination1',
													clickable: true,
												},
											});

										},
										error: function() {
											alert('hghfhhhffh');
										}
									})
								}
							});
						});

					},
					error: function() {
						alert('yy');
					}
				});
				$('.information>div').click(function() {
					var lc_id = $(this).children('input').val();
					$.ajax({
						type: "post",
						url: "/index.php/Home/Public/newsdata",
						async: true,
						data: {
							'lc_id': lc_id,
							'p': 1
						},
						success: function(data) {
							console.log('uuuuu', data);
							layui.use(['laypage', 'layer'], function() {
								var laypage = layui.laypage,
									layer = layui.layer;
								//完整功能
								laypage.render({
									count: data.allpage,
									elem: 'demo4',
									first: false,
									last: false,
									theme: '#e60012',
									limit: 1,
									jump: function(obj, first) {
										var ind = $('#demo4>div>a').length;
										var len = $('#demo4>div>span').length;
										for(var k = 0; k < ind; k++) {
											var hhh = $('#demo4>div').children('a').eq(k - 1).outerWidth(true);
										}
										for(var i = 0; i < len; i++) {
											var sss = $('#demo4>div').children('span').eq(i - 1).outerWidth(true);
										}
										var kkk = hhh * ind;
										var ooo = sss * len;
										var wid = kkk + ooo;
										var widt = $("#demo4").width(wid + 80);
										$('#demo4').css({
											'margin': '0 auto'
										});
										$.ajax({
											url: '/index.php/Home/Public/newsdata',
											dataType: 'json',
											type: 'post',
											data: {
												'p': obj.curr,
												'lc_id': lc_id,
											},
											success: function(data) {
												$('.activity_bot').children().remove();
												for(var i = 0; i < data.classify_article_res.length; i++) {
													var con = '<div class="activityBot_lft"><div class="swiper-container1 swiper-container"><div class="swiper-wrapper1 swiper-wrapper"><div class="swiper-slide1 swiper-slide"><img src="' +
														data.classify_article_res[i].ca_image +
														'" alt="..." /><div class="slide_bot">' +
														data.classify_article_res[i].ca_title +
														'</div></div><div class="swiper-slide1 swiper-slide"><img src="' +
														data.classify_article_res[i].ca_image +
														'" alt="..." /><div class="slide_bot">' +
														data.classify_article_res[i].ca_title +
														'</div></div><div class="swiper-slide1 swiper-slide"><img src="' +
														data.classify_article_res[i].ca_image +
														'" alt="..." /><div class="slide_bot">' +
														data.classify_article_res[i].ca_title +
														'</div></div></div><div class="swiper-pagination1 swiper-pagination"></div></div></div><div class="activityBot_center"><a href="javascript:;">' +
														data.classify_article_res[i].ca_title +
														'</a><a href="javascript:;">' +
														data.classify_article_res[i].ca_title +
														'</a><a href="javascript:;">' +
														data.classify_article_res[i].ca_title +
														'</a><a href="javascript:;">' +
														data.classify_article_res[i].ca_title +
														'</a><a href="javascript:;">' +
														data.classify_article_res[i].ca_title +
														'</a><a href="javascript:;">' +
														data.classify_article_res[i].ca_title +
														'</a></div><div class="activityBot_right"><div class="Celebrate_top"><img src="' +
														data.classify_article_res[i].ca_image +
														'" alt="..." /></div><div class="Celebrate_bot"><a href="javascript:;">' +
														data.classify_article_res[i].ca_title +
														'<span>' + data.classify_article_res[i].ca_time +
														'</span></a><a href="javascript:;">' +
														data.classify_article_res[i].ca_title +
														'<span>' + data.classify_article_res[i].ca_time +
														'</span></a><a href="javascript:;">' +
														data.classify_article_res[i].ca_title +
														'<span>' + data.classify_article_res[i].ca_time +
														'</span></a><a href="javascript:;">' +
														data.classify_article_res[i].ca_title +
														'<span>' + data.classify_article_res[i].ca_time +
														'</span></a></div></div>';

												}
												$('.activity_bot').append(con);
												var swiper = new Swiper('.swiper-container1', {
													spaceBetween: 30,
													centeredSlides: true,
													autoplay: {
														delay: 2500,
														disableOnInteraction: false,
													},
													pagination: {
														el: '.swiper-pagination1',
														clickable: true,
													},
												});

											},
											error: function() {
												alert('hghfhhhffh');
											}
										})
									}
								});
							});

						},
						error: function() {
							alert('yy');
						}
					});
				})
			})
		</script>
	</body>

</html>