<div class="cityAdress">
				<img src="__PUBLIC__/Home/img/img41.png" alt="..."/>
				<div class="AdressData">
					<div class="cityAdressData">
						<div class="cityAdressData-top">
							<div class="cityAdressData-left">
								<div class="AdressData-one">
									our position
								</div>
								<div class="AdressData-two">
									{$footer.address}
								</div>
								<div class="AdressData-three">
									hotline
								</div>
								<div class="AdressData-four">
									{$footer.telephone}
								</div>
							</div>
						</div>
						<div class="cityAdressData-bot">
							<!-- <div class="cityAdressData-one">
								welcome to communicate with us
							</div> -->
							
							<div class="cityAdressData-two">
								{$company_introduce.ci_content_english}
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--超值送大礼-->
			<div class="GenerousGift">
				<div class="GenerousGiftCent">
					<div class="GenerousGiftCent-left">
						<div class="Generou-left">
							<img src="__PUBLIC__/Home/img/img42.png" alt="img"/>
						</div>
						<div class="Generou-right">
							<div class="Generou-top">新人注册送超值大礼！</div>
							<div class="Generou-bot">Newcomers register for a great gift</div>
						</div>
					</div>
					<div class="GenerousGiftCent-right">
						<div class="GiftCent">
							<div class="GiftCent">姓名:</div>
							<input type="text" class="GiftCent-right"/>
						</div>
						<div class="GiftCent">
							<div class="GiftCent">手机:</div>
							<input type="text" class="GiftCent-right"/>
						</div>
						<div class="GiftCent">
							<div class="GiftCent">微信QQ:</div>
							<input type="text" class="GiftCent-right"/>
						</div>
						<div class="regist">
							<div>注册领取</div>
							<img src="__PUBLIC__/Home/img/img43.png" alt="img"/>
						</div>
					</div>
				</div>	
			</div>