<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="flexible" content="initial-dpr=2" />
		<title>{$navben.nav_name}</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/mobile/css/reset.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/mobile/css/index.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/mobile/css/swiper.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/mobile/layui-v2.4.5/layui/css/layui.css" />
		<script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
	</head>

	<body>
		<div class="top">
			<div class="Catalog">
				<a href="/index.php/Mobile/Index/nav"><img src="__PUBLIC__/mobile/img/xian.png" alt="..." /></a>
			</div>
			<div class="logo">
				<div><img src="{$company_introduce.ci_logo}" alt="..." /></div>
				<div>博越智能家居</div>
			</div>
			<div class="phone">
				<a href="tel:0147-88469258"><img src="__PUBLIC__/mobile/img/phone.png" alt="..." /></a>
			</div>
		</div>
		<!--banner图-->
		<div class="banner">
			<img src="{$background_image_data[0].bi_image}" />
		</div>
		<!--品牌荣誉-->
		<div class="About_title">
			<div>品牌荣誉</div>
			<div></div>
			<div>HONOR</div>
		</div>
		<div class="brandHonor_img">
			<a href="javascript:;">
				<div class="brandHonorImg">
					<div><img src="__PUBLIC__/mobile/img/img81.png" alt="..." /></div>
				</div>
				<div class="brandHonorImg_bot">2018年获得奖项</div>
			</a>
			<a href="javascript:;">
				<div class="brandHonorImg">
					<div><img src="__PUBLIC__/mobile/img/img81.png" alt="..." /></div>
				</div>
				<div class="brandHonorImg_bot">2018年获得奖项</div>
			</a>
			<a href="javascript:;">
				<div class="brandHonorImg">
					<div><img src="__PUBLIC__/mobile/img/img81.png" alt="..." /></div>
				</div>
				<div class="brandHonorImg_bot">2018年获得奖项</div>
			</a>
			<a href="javascript:;">
				<div class="brandHonorImg">
					<div><img src="__PUBLIC__/mobile/img/img81.png" alt="..." /></div>
				</div>
				<div class="brandHonorImg_bot">2018年获得奖项</div>
			</a>
			<a href="javascript:;">
				<div class="brandHonorImg">
					<div><img src="__PUBLIC__/mobile/img/img81.png" alt="..." /></div>
				</div>
				<div class="brandHonorImg_bot">2018年获得奖项</div>
			</a>
			<a href="javascript:;">
				<div class="brandHonorImg">
					<div><img src="__PUBLIC__/mobile/img/img81.png" alt="..." /></div>
				</div>
				<div class="brandHonorImg_bot">2018年获得奖项</div>
			</a>
			<a href="javascript:;">
				<div class="brandHonorImg">
					<div><img src="__PUBLIC__/mobile/img/img81.png" alt="..." /></div>
				</div>
				<div class="brandHonorImg_bot">2018年获得奖项</div>
			</a>
			<a href="javascript:;">
				<div class="brandHonorImg">
					<div><img src="__PUBLIC__/mobile/img/img81.png" alt="..." /></div>
				</div>
				<div class="brandHonorImg_bot">2018年获得奖项</div>
			</a>
		</div>
		<!--底部-->
		<include file="Public/footer"/>
	</body>

</html>