@charset "utf-8";

/*.hideUl{width: 100%;background: #a5a8ad;height: 50px;display: block;}*/


/*.hideUl>ul{overflow: hidden;}*/


/*.hideUl>ul>li{float: left;margin-right: 30px;}*/

.hide {
	display: none;
}

header {
	width: 100%;
	background-color: #fff;
}

.hraderCent {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}

.hraderCent-left {
	float: left;
	width: 143px;
	height: 105px;
}

.hraderCent-left>img {
	width: 100%;
	height: 100%;
}

.hraderCent-right {
	float: right;
	padding-top: 15px;
}

.search {
	border: 1px solid #e6e4e4;
	border-radius: 20px;
	width: 300px;
	overflow: hidden;
	padding: 0 18px;
	float: right;
}

.search>input::-webkit-input-placeholder {
	font-size: 14px;
	color: #999999;
}

.search>input::-moz-placeholder {
	font-size: 14px;
	color: #999999;
}

.search>input {
	height: 33px;
	line-height: 33px;
	width: calc(100% - 23px);
	float: left;
	outline: none;
}

.search>img {
	width: 23px;
	height: 23px;
	float: left;
	position: relative;
	top: 4px;
	cursor: pointer;
}

.hraderCent-bot>ul {
	overflow: hidden;
}

.hraderCent-bot>ul>li {
	float: left;
	margin-right: 30px;
	display: inline-block;
}

.hraderCent-bot>ul>li:last-child {
	margin-right: 0;
}

.hraderCent-bot>ul>li>a {
	font-size: 16px;
	color: #000000;
	line-height: 57px;
}

.hraderCent-bot {
	float: right;
}

.headCorol {
	color: #014a97 !important;
}


/*轮播*/

.whole {
	height: 100%;
}

.swiperImages {
	width: 100%;
	height: 870px;
	overflow: hidden;
	position: relative;
}


/*.swiperImages>.swiper-container,.swiperImages>.swiper-container>.swiper-wrapper,.swiperImages>.swiper-container>.swiper-wrapper>.swiper-slide,.swiperImages>.swiper-container>.swiper-wrapper>.swiper-slide>a,.swiperImages>.swiper-container>.swiper-wrapper>.swiper-slide>a>img{width: 100%;height: 100%;}*/

.swiperClick {
	width: 100%;
	height: 80px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 3;
	color: #fff;
	text-align: center;
}

.swiperClick2 {
	width: 100%;
	height: 80px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 2;
	background-color: #000000;
	opacity: 0.5;
}

.swiperClick>div {
	display: inline-block;
	position: relative;
	width: 135px;
	height: 80px;
	cursor: pointer;
}

.swiperClick-top {
	width: 100%;
	height: 3px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 3;
}

.swiperClick-bot {
	width: 100%;
	height: 80px;
	line-height: 80px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
}

.swiperBack {
	background-color: #fff !important;
	color: #000000;
}

.swiperBack2 {
	background-color: #f18101 !important;
}

.swiper-slide>a>img {
	width: 100%;
	height: 820px;
}


/*关于博越*/

.aboutTitle {
	text-align: center;
	padding: 30px 0;
}

.aboutTitle>div:first-child {
	font-size: 36px;
	color: #014a96;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.aboutTitle>div:last-child {
	font-size: 26px;
	color: #000000;
}

.aboutBoyue {
	width: 100%;
	overflow: hidden;
	position: relative;
}

.aboutBoyue-left {
	width: 1085px;
	height: 488px;
	position: relative;
	left: 0;
	top: 0;
}

.aboutBoyue-left>img {
	width: 100%;
	height: 100%;
}

.aboutBoyue-right {
	background-color: #f3f4f7;
	width: 675px;
	height: 400px;
	position: absolute;
	right: calc((100% - 1200px)/2);
	top: 44px;
	padding: 25px 30px;
}

.aboutBoyue-one {
	font-size: 22px;
	color: #000000;
	border-bottom: 4px solid #f18101;
	display: inline-block;
	padding-bottom: 5px;
	padding-right: 30px;
}

.aboutBoyue-two {
	padding: 30px 25px;
	text-indent: 2em;
	font-size: 14px;
	color: #000000;
	line-height: 1.5;
}

.aboutBoyue-three {
	overflow: hidden;
	text-align: center;
}

.aboutBoyue-three>a {
	display: inline-block;
	margin-right: 70px;
}

.aboutBoyue-three>a:last-child {
	margin-right: 0;
}

.aboutBoyue-top {
	width: 78px;
	height: 78px;
	display: block;
	margin: 0 auto;
}

.aboutBoyue-top>img {
	width: 100%;
	height: 100%;
}

.aboutBoyue-bot {
	font-size: 16px;
	color: #000000;
	line-height: 2;
	padding-top: 10px;
}


/*菜单*/

.CentMenu {
	width: 1200px;
	margin: 0 auto 50px auto;
	text-align: center;
}

.CentMenu>a {
	display: inline-block;
	font-size: 20px;
	color: #000000;
	padding: 10px 15px;
	border: 1px solid #c7c7c7;
	margin-right: 40px;
}

.MenuBackColo {
	background-color: #014a96 !important;
	color: #fff !important;
	border-color: #014a96 !important;
}

.MenuDataCent {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}

.MenuDataCent>a {
	width: calc((100% - 75px)/4);
	float: left;
	margin-right: 25px;
	margin-bottom: 25px;
}

.MenuDataCent>a:nth-child(4n) {
	margin-right: 0;
}

.MenuDataCent>a>.MenuDataCent-top {
	width: 100%;
	padding: 5px 0;
	border: 1px solid #c7c7c7;
	border-bottom: 0;
}

.MenuDataCent>a img {
	width: 110px;
	height: 173px;
	display: block;
	margin: 0 auto;
}

.MenuDataCent>a>.MenuDataCent-bot {
	background-color: #014a96;
	color: #fff;
	line-height: 50px;
	font-size: 16px;
	text-align: center;
	width: 100%;
}


/*更多链接*/

.MenuMore {
	font-size: 14px;
	color: #014a96;
	display: block;
	width: 145px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	text-transform: uppercase;
	border: 1px solid #014a96;
	border-radius: 15px;
	margin: 0 auto;
}


/*智能动画*/

.animationDemo {
	width: 100%;
	height: 680px;
	position: relative;
	overflow: hidden;
}

.animationDemo>div {
	width: 100%;
	height: 100%;
}

.animationDemo>div:nth-child(2) {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 99;
	display: none;
}

.animationDemo>div:nth-child(3) {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 3;
	display: none;
}

.animationDemo>div:nth-child(4) {
	width: 259px;
	height: 334px;
	position: absolute;
	right: 360px;
	bottom: 0;
	z-index: 999;
}

.animationDemo>div>img {
	width: 1920px;
	height: 725px;
}

.animationDemo>div:nth-child(4)>img {
	width: 100%;
	height: 100%;
}


/*客户满意*/

.CustomerSatisfaction {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}

.CustomerSatisfaction-top {
	font-size: 24px;
	color: #000000;
	margin-bottom: 10px;
	text-align: center;
}

.CustomerSatisfaction-data {
	font-size: 16px;
	color: #999999;
	line-height: 2;
	text-align: center;
}


/*舒适卧室*/

.Intelligence {
	width: 1200px;
	margin: 0 auto;
}

.Intelligence-top {
	width: 100%;
	overflow: hidden;
	text-align: center;
	margin: 35px auto 40px auto
}

.Intelligence-top>a {
	display: inline-block;
	font-size: 22px;
	color: #666666;
	;
	padding: 0 35px;
	border-right: 1px solid #666666;
}

.Intelligence-top>a:last-child {
	border-right: 0;
}

.Intelligence-bot {
	width: 1200px;
	height: 590px;
	margin: 0 auto;
	overflow: hidden;
}

.Intelligence-left {
	width: 880px;
	height: 100%;
	float: left;
}

.Intelligence-right {
	width: calc(100% - 880px);
	height: 100%;
	float: right;
}


/*Tab轮播切换*/

.hiddenHide {
	visibility: hidden;
	position: absolute;
	z-index: -1;
	height: 0;
}

.ColorMenus {
	color: #f18101 !important;
}

.Intelligence-left .swiper-slide>img {
	width: 880px;
	height: 590px;
}

.Intelligence-left>div {
	position: relative;
}

.Intelligence-right {
	background-color: #383838;
}

.swiper-button-next {
	background-image: url(../img/img23.png) !important;
	width: 47px !important;
	height: 47px !important;
	background-size: 100% 100% !important;
}

.swiper-button-prev {
	background-image: url(../img/img22.png) !important;
	width: 47px !important;
	height: 47px !important;
	background-size: 100% 100% !important;
}

.Intelligence-title {
	font-size: 24px;
	color: #fff;
	text-align: center;
	margin: 35px 0;
}

.Intelligence-img {
	padding: 0 28.6px;
	overflow: hidden;
	width: 100%;
}

.Intelligence-img>a {
	float: left;
	border: 1px solid #4a4a4a;
	width: 115px;
	height: 118px;
	border-radius: 5px;
	margin-right: 28.6px;
	margin-bottom: 25px;
}

.Intelligence-img>a:nth-child(2n) {
	margin-right: 0;
}

.IntelligenceImg-bot {
	height: 50px;
	line-height: 50px;
	color: #707070;
	font-size: 14px;
	text-align: center;
}

.IntelligenceImg-top {
	width: 100%;
	height: 68px;
	padding-top: 30px;
}

.IntelligenceImg-top>img {
	width: 42px;
	height: 40px;
	display: block;
	margin: 0 auto;
}

.Intelligence-left .swiper-button-next,
.Intelligence-left .swiper-button-prev {
	display: none;
}


/*客户案例*/

.CustomerCase {
	width: 100%;
	height: 390px;
}

.CustomerCaseCent {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}

.CustomerCaseCent>a {
	width: calc((100% - 20px)/5);
	height: 390px;
	float: left;
	display: inline-block;
	margin-right: 5px;
	position: relative;
}

.CustomerCaseCent>a:last-child {
	margin-right: 0;
}

.CustomerCase-top {
	width: 100%;
	height: 100%;
	background-color: #014a96;
	opacity: 0.4;
	position: absolute;
	left: 0;
	top: 0;
}

.CustomerCase-cent {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	padding: 10px;
}

.caseCent {
	line-height: 2;
	max-height: 370px;
	overflow: hidden;
	width: 100%;
	position: relative;
	top: 0;
	text-align: center;
}

.CustomerCase-bot {
	width: 90%;
	height: 94%;
	position: absolute;
	left: 5%;
	top: 3%;
	z-index: 3;
	background-color: #014a96;
	opacity: 0.6;
	display: none;
}

.CustomerCaseImg {
	width: 90%;
	height: 94%;
	position: absolute;
	left: 5%;
	top: 3%;
	z-index: 9;
	padding-top: 163px;
	display: none;
}

.CustomerCaseImg>img {
	width: 39px;
	height: 39px;
	display: block;
	margin: 0 auto;
}


/*博越资讯*/

.news {
	width: 1200px;
	margin: 0 auto 50px auto;
	overflow: hidden;
}

.news-left {
	width: 407px;
	height: 253px;
	float: left;
}

.news-left>img {
	width: 100%;
	height: 100%;
}

.news-right {
	width: 758px;
	height: 253px;
	float: right;
}

.newsCent {
	width: 355px;
	margin-right: 45px;
	float: left;
}

.newsCent:last-child {
	margin-right: 0;
}

.news-top {
	border-bottom: 1px solid #cbcaca;
}

.news-top>div {
	font-size: 20px;
	text-align: left;
	display: inline-block;
	padding-bottom: 10px;
}

.news-bot>a {
	display: block;
	overflow: hidden;
	width: 100%;
	border-bottom: 1px dashed #cbcaca;
}

.news-bot {
	width: 100%;
}

.newsCent-left {
	width: 230px;
	float: left;
	color: #000000;
	font-size: 14px;
	height: 54px;
	line-height: 54px;
}

.newsCent-right {
	float: right;
	color: #999999;
	font-size: 12px;
	height: 54px;
	line-height: 54px;
}

.newsCentColor {
	color: #014a96 !important;
	border-bottom: 2px solid #014a96 !important;
}


/*公共底部*/

footer {
	background-color: #000000;
	width: 100%;
	padding-top: 45px;
	color: #a1a1a1;
}

.footerEnd {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}

.footerEnd-top {
	width: 100%;
	overflow: hidden;
}

.footerEnd-top>div {
	width: 50%;
	float: left;
}

.footerEnd-left {
	padding-left: 50px;
}

.footerEnd-right {
	padding-left: 195px;
}

.footerEndLeft-one {
	font-size: 24px;
	color: #fff;
}

.footerEndLeft-two {
	font-size: 30px;
	color: #f18101;
	margin: 10px 0;
}

.footerEndLeft-three {
	font-size: 14px;
	margin-bottom: 35px;
}

.footerEndLeft-four {
	width: 100%;
	overflow: hidden;
}

.footerEndLeft-four>div {
	width: 135px;
	float: left;
}

.footerEndLeft-four>div:first-child {
	margin-right: 55px;
}

.footerEndLeft-four>div>img {
	width: 135px;
	height: 135px;
}

.footerEndLeft-four>div>div {
	font-size: 14px;
	text-align: center;
	line-height: 45px;
}

.footerEnd-right>form {
	width: 100%;
	height: 100%;
}

.footerEnd-right>form>div {
	width: 100%;
	overflow: hidden;
	margin-bottom: 30px;
}

.footerEnd-right>form>div>div {
	float: left;
	width: 60px;
	text-align: left;
	font-size: 16px;
	color: #fff;
}

.footerEnd-right>form>div>input {
	float: left;
	width: 255px;
	height: 39px;
	border: 1px solid #fff;
	border-radius: 5px;
	background-color: #000000;
	font-size: 14px;
	color: #a1a1a1;
	padding-left: 15px;
}

.footerEnd-right>form>div>textarea {
	float: left;
	width: 335px;
	height: 140px;
	border: 1px solid #fff;
	border-radius: 5px;
	background-color: #000000;
	font-size: 14px;
	color: #a1a1a1;
	padding-left: 15px;
	line-height: 2;
	resize: none;
}

.subMit {
	width: 135px;
	height: 40px;
	margin: 0 auto;
	display: block;
	background-color: #014a96;
	color: #fff;
	font-size: 16px;
	line-height: 40px;
	border-radius: 5px;
	margin-bottom: 20px;
}

.footerEnd-bot {
	text-align: center;
	font-size: 12px;
	line-height: 40px;
}


/*案例展示*/

.banner {
	width: 100%;
	height: 432px;
}

.banner1 {
	width: 100%;
	height: 480px;
}

.banner>img {
	width: 100%;
	height: 100%;
}


/*博越客户案例*/

section {
	width: 100%;
	overflow: hidden;
}

.content {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}

.case {
	overflow: hidden;
}

.case>a:nth-child(4n) {
	margin-right: 0;
}

.case>a {
	float: left;
	margin-right: 20px;
	padding-bottom: 41px;
	display: inline-block;
}

.case>a>div>div:nth-child(2) {
	font-size: 16px;
	text-align: center;
	padding-top: 21px;
	color: #000;
}


/*场景体验中心*/

.combination {
	background: url(../img/img50.png)no-repeat center center;
	background-size: 100% 100%;
}

.combination-center {
	text-align: center;
	color: #fff;
	width: 1200px;
	margin: 0 auto;
	padding: 52px 0;
}

.combination-center>div:first-child {
	font-size: 36px;
	color: #fff;
}

.combination-center>div:nth-child(2) {
	font-size: 18px;
	color: #fff;
	padding-top: 32px;
}

.experience {
	overflow: hidden;
	margin-top: 43px;
}

.experience>a {
	display: inline-block;
	color: #fff;
	font-size: 18px;
}

.experience>a:nth-child(2n) {
	margin-right: 0;
}

.experience>a {
	float: left;
	margin-right: 2.8%;
	position: relative;
	margin-bottom: 37px;
}

.experience-center>div:nth-child(2) {
	position: absolute;
	left: 0;
	bottom: 1px;
	background: #6e6a65;
	opacity: 0.6;
	width: 100%;
	height: 72px;
}

.experience-center>div:nth-child(3) {
	position: absolute;
	background: #090605;
	width: 100px;
	opacity: 0.2;
	bottom: 2px;
	left: 0;
	height: 71px;
}

.experience-pos {
	position: absolute;
	left: 0;
	bottom: 0;
}

.experience-pos>div {
	float: left;
	height: 72px;
}

.experience-pos>div:first-child {
	width: 100px;
	height: 73px;
}

.experience-pos>div:first-child>img {
	margin: 10px auto;
	display: inline-block;
	width: 51px;
	height: 51px;
}

.experience-pos>div:nth-child(2) {
	line-height: 72px;
	padding-left: 24px;
}


/*产品中心*/

.ProductCenter {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}

.ProductCenter-top {
	margin-top: 22px;
	overflow: hidden;
}

.ProductCenter-top>div {
	float: left;
}

.ProductCenter-top>div:first-child {
	padding-left: 10px;
}

.ProductCenter-top>div:nth-child(2) {
	padding-left: 22px;
	font-size: 30px;
}

.lock {
	overflow: hidden;
	margin-top: 24px;
}

.lock>a {
	margin-right: 20px;
	display: inline-block;
	float: left;
	color: #000;
}

.lock>a:nth-child(4n) {
	margin-right: 0;
}

.lock>a>.lockDisplay>div:first-child {
	width: 283px;
	height: 283px;
	margin: auto;
	display: inline-block;
	background: #f6f6f6;
}

.lock>a>.lockDisplay>div:first-child>div {
	margin: 48px auto;
	width: 105px;
	height: 173px;
}

.lock>a>.lockDisplay>div:nth-child(2) {
	text-align: center;
	width: 283px;
	margin: 29px auto;
	font-size: 16px;
}

.lock>a>.lockDisplay>div:first-child:hover {
	/*box-shadow:  0 0 10px 2px #cccccc;*/
	-webkit-box-shadow: 0 0 10px 2px #cccccc;
	-moz-box-shadow: 0 0 10px 2px #cccccc;
}


/*品牌简介*/

.introduction {
	width: 100%;
	position: relative;
	min-height: 702px;
}

.introduction_img {
	width: 100%;
	height: 570px;
}

.introduction_img>img {
	width: 100%;
	height: 100%;
}

.briefIntroduction {
	width: 960px;
	background: #f3f4f7;
	position: absolute;
	top: 295px;
	left: 466px;
	padding-bottom: 49px;
}

.briefIntroduction_top {
	overflow: hidden;
	padding-top: 17px;
	margin: 0 auto;
	width: 400px;
	text-align: center;
}

.briefIntroduction_top>div {
	float: left;
}

.briefIntroduction_top>div:last-child {
	font-size: 26px;
	line-height: 60px;
	padding-left: 29px;
}

.briefIntroduction>p {
	padding: 30px 50px;
	text-indent: 30px;
	line-height: 1.8;
	font-size: 14px;
}

.boddy {
	background: #024b97;
	position: relative;
	width: 1200px;
	margin: 0 auto;
	height: 256px;
	margin-bottom: 50px;
}

#wrapper {
	overflow: hidden;
	width: 86.5%;
	height: 224px;
	position: absolute;
	top: 0;
	left: 79px;
}

#wrapper ul {
	position: absolute;
	left: 0;
	top: 0;
	margin: 34px auto;
}

#wrapper li {
	float: left;
	list-style: none;
	margin-right: 14px;
	width: 249px;
	height: 190px;
}

#wrapper li img {
	width: 100%;
	height: 100%;
}

#bth1 {
	position: absolute;
	top: 110px;
	left: 30px;
	width: 36px;
	height: 36px;
	overflow: hidden;
	z-index: 1000000;
}

#bth1>img {
	display: inline-block;
	margin: auto;
	text-align: center;
}

#bth2 {
	position: absolute;
	top: 110px;
	right: 34px;
	width: 36px;
	height: 36px;
	overflow: hidden;
	z-index: 1000000;
}


/*全屋智能*/

.Furnishing {
	width: 100%;
	background: #343434;
}

.Furnishing>div:first-child>img {
	margin: 0 auto;
	width: 115px;
	height: 113px;
}

.Furnishing>div:first-child {
	text-align: center;
	padding: 30px 0;
}

.Furnishing>div:nth-child(2) {
	text-align: center;
	color: #fff;
}

.Furnishing>div:nth-child(2)>span:first-child {
	font-size: 40px;
	margin-right: 72px;
}

.Furnishing>div:nth-child(2)>span:nth-child(2) {
	font-size: 30px;
}

.Furnishing>p {
	text-align: center;
	padding: 23px 0 38px 0;
	color: #fff;
	font-size: 20px;
}

.room {
	overflow: hidden;
	width: 100%;
	min-width: 1200px;
}

.roomDetails {
	overflow: hidden;
	width: 100%;
	height: 680px;
}

.roomDetails>div {
	float: left;
}

.roomDetails_left {
	position: relative;
	width: 70%;
	height: 100%;
}

.roomDetails_left>div:first-child {
	width: 100%;
	height: 100%;
}

.roomDetails_left>div:first-child>img {
	width: 100%;
	height: 100%;
}

.roomDetails_left>div:nth-child(2) {
	width: 160px;
	background: #d0924b;
	position: absolute;
	top: 0;
	left: 0;
	height: 680px;
	opacity: 0.6;
}

.roomDetailsLeft-eng {
	position: absolute;
	top: 117px;
	left: 78px;
	text-transform: uppercase;
	color: #fff;
	font-size: 50px;
}

.roomDetailsLeft-eng>p {
	padding-bottom: 10px;
}

.roomDetails_right {
	background: #291a21;
	width: 30%;
	height: 100%;
	padding-bottom: 101px;
}

.roomDetails_right>div:first-child {
	text-align: center;
	color: #fff;
	font-size: 30px;
	padding: 30px 0 48px 0;
}

.roomDetailsRight_text {
	padding-left: 100px;
	padding-bottom: 71px;
}

.roomDetailsRight_text>div {
	color: #fff;
	font-size: 16px;
}

.roomDetailsRight_text>p {
	color: #848484;
	font-size: 14px;
	line-height: 1.5;
}

.KitchenDetails_left {
	background: #291a21;
	width: 30%;
	height: 100%;
}

.KitchenDetails_left>div:first-child {
	text-align: center;
	color: #fff;
	font-size: 30px;
	padding: 30px 0 14px 0;
}

.KitchenDetailsRight_text {
	padding-left: 100px;
	padding-bottom: 11.5px;
}

.KitchenDetailsRight_text>div {
	color: #fff;
	font-size: 16px;
}

.KitchenDetailsRight_text>p {
	color: #848484;
	font-size: 14px;
	line-height: 1.5;
}

.KitchenDetails_right {
	position: relative;
	width: 70%;
	height: 722px;
}

.KitchenDetails_right>div:first-child {
	height: 100%;
	width: 100%;
}

.KitchenDetails_right>div:first-child>img {
	width: 100%;
	height: 100%;
}

.KitchenDetails_right>div:nth-child(2) {
	width: 160px;
	background: #d0924b;
	position: absolute;
	top: 0;
	right: 0;
	height: 680px;
	opacity: 0.6;
}

.KitchenDetails-eng {
	position: absolute;
	top: 117px;
	right: 78px;
	text-transform: uppercase;
	color: #fff;
	font-size: 50px;
}

.KitchenDetails-eng>p {
	padding-bottom: 10px;
}

.Restroom>div:first-child {
	padding: 30px 0 48px 0;
}

.Restroom {
	padding-bottom: 80px;
}

.Restroom_text {
	padding-bottom: 78px;
}

.Restroom_right {
	height: 680px;
}


/*全屋集成整装*/

.style {
	overflow: hidden;
	width: 1200px;
	margin: 0 auto;
}

.EuropeanStyle {
	overflow: hidden;
	margin-bottom: 8px;
}

.EuropeanStyle>div {
	float: left;
}

.EuropeanStyle-left {
	width: 61%;
	margin-right: 8px;
}

.EuropeanStyle-left>a {
	display: inline-block;
	position: relative;
}

.EuropeanStyle-left>a>div:first-child {
	width: 100%;
}

.EuropeanStyle-left>a>div:first-child>img {
	width: 100%;
}

.EuropeanStyle-left>a>div:nth-child(2) {
	background: #000000;
	width: 100%;
	height: 44px;
	text-align: center;
	position: absolute;
	left: 0;
	bottom: 0;
	color: #fff;
	line-height: 44px;
	display: inline-block;
}

.EuropeanStyle-right {
	width: 38%;
}

.EuropeanStyle-right>a {
	position: relative;
	margin-bottom: 5px;
	display: inline-block;
}

.EuropeanStyle-right>a:nth-child(2n) {
	margin-bottom: 0;
}

.EuropeanStyle-right>a>div:first-child {
	width: 100%;
}

.EuropeanStyle-right>a>div:first-child>img {
	width: 100%;
}

.EuropeanStyle-right>a>div:nth-child(2) {
	background: #000000;
	width: 100%;
	height: 44px;
	text-align: center;
	position: absolute;
	left: 0;
	bottom: 0;
	color: #fff;
	line-height: 44px;
	display: inline-block;
}

.JapaneseStyle_left {
	width: 38%;
	margin-right: 8px;
}

.JapaneseStyle_left>a {
	position: relative;
	margin-bottom: 5px;
	display: inline-block;
}

.JapaneseStyle_left>a:nth-child(2n) {
	margin-bottom: 0;
}

.JapaneseStyle_left>a>div:first-child {
	width: 100%;
}

.JapaneseStyle_left>a>div:first-child>img {
	width: 100%;
}

.JapaneseStyle_left>a>div:nth-child(2) {
	background: #000000;
	width: 100%;
	height: 44px;
	text-align: center;
	position: absolute;
	left: 0;
	bottom: 0;
	color: #fff;
	line-height: 44px;
	display: inline-block;
}

.JapaneseStyle_right {
	position: relative;
	width: 61%;
}

.JapaneseStyle_right>div:first-child {
	width: 100%;
}

.JapaneseStyle_right>div:first-child>img {
	width: 100%;
}

.JapaneseStyle_right>div:nth-child(2) {
	background: #000000;
	width: 100%;
	height: 44px;
	text-align: center;
	position: absolute;
	left: 0;
	bottom: 0;
	color: #fff;
	line-height: 44px;
}


/*最新资讯*/

.information {
	width: 1200px;
	margin: 0 auto;
}

.dynamic_title {
	text-align: center;
	overflow: hidden;
}

.dynamic_title>div {
	display: inline-block;
	width: 196px;
	height: 52px;
	border: 1px solid #999999;
	margin-right: 170px;
	line-height: 52px;
}

.dynamic_title>div:last-child {
	margin-right: 0;
}

.dynamic_title>div>a {
	color: #000000;
	font-size: 20px;
	width: 100%;
}

.dynamic_title>div:hover a {
	background: #014a96;
	color: #fff;
	display: inline-block;
	border: 0px;
}

.dynamic_content {
	overflow: hidden;
}

.dynamicCon {
	margin-top: 20px;
}

.dynamicCon>a {
	display: inline-block;
	overflow: hidden;
	color: #000;
	border-bottom: 1px dashed #cbcaca;
	padding: 33px 0;
}

.dynamicCon>a:last-child {
	border-bottom: none;
}

.dynamicCon>a>div {
	float: left;
	display: inline-block;
}

.trend_left {
	width: 29.6%;
	margin-right: 2%;
}

.trend_left>img {
	width: 100%;
}

.trend-right {
	width: 68%;
	margin-top: 25px;
}

.trend-right>div:first-child {
	font-size: 18px;
	padding-bottom: 25px;
}

.trend-right>div:nth-child(2) {
	font-size: 14px;
	line-height: 1.8;
	text-indent: 28px;
}

.trend-right>div:last-child {
	border: 1px solid #cbcaca;
	width: 120px;
	height: 33px;
	line-height: 33px;
	text-align: center;
	margin-top: 38px;
	font-size: 14px;
}

.trend-right>div:last-child>span {
	margin-left: 11px;
}


/*全屋集成详情*/

.Bedroom {
	width: 100%;
}

.Bedroom-top {
	margin: 35px 0;
}

.Bedroom-top>div {
	text-align: center;
	color: #014a96;
	font-size: 36px;
}


/*.list{overflow: hidden;}
.Cooldog_container{width: 1185px;position: relative;height: 635px;margin: 0 auto;}
.Cooldog_content{position: absolute;width: 100%;top: 0;left: -100.5%;}
.Cooldog_content>div{float: left;width: 1185px;margin-right:5px;height: 635px;}
.Cooldog_content>div>a{display: inline-block;}
.Cooldog_content>div>a>img{width: 100%;height: 100%;}
.swiper-button-prev{position: absolute;top: 280px;left: 10px;width: 75px;height: 75px;}
.swiper-button-next{position: absolute;top: 280px;right: 10px;width: 75px;height: 75px;}
.swiper-button-prev>img{width: 100%;height: 100%;}
.swiper-button-next>img{width: 100%;height: 100%;}
.list_bottom{width: 1200px;margin: 40px auto;overflow: hidden;}
.list_bottom>div{float:left;margin-right: 10px;}
.list_bottom>div:last-child{margin-right: 0;}*/
/*
.content1 {
	width: 100%;
	min-height: 635px;
	margin-top: 40px;
	position: relative;
}

.list {
	width: 100%;
	height: 636px;
	overflow: hidden;
	/*溢出的隐藏掉，默认的是：内容不会被修剪，会呈现在元素框之外。*/
	/*position: absolute;*/
	/*left: 50%;*/
	/*margin-left: -600px;*/
/*}*/

/*.list>ul {
	overflow: hidden;
	width: 100%;
	height: 100%;
}*/

/*.list>ul>li {
	list-style: none;
	position: absolute;
	/*一定要设置这个*/
	/*top: 0;*/
	/*left: 0;*/
	/*opacity: 0;*/
	/*transition: all 0.3s ease-out;*/
	/*margin-right: 10px;*/
/*}*/
/*.list>ul>li>a {
	display: inline-block;
}*/

/*.list>ul>li>a>img {
	border: none;
	width: 1180px;
	height: 635px;
	float: left;
	z-index: 1000000000;
}*/

/*.p5 {
	transform: translate3d(-224px, 0, 0) scale(0.81);
	/*transform-origin: 100% 25%;*/
	/*opacity: 0.8;*/
	/*z-index: 2;*/
/*}*/

/*.p4 {
	transform: translate3d(375px, 0, 0) scale(1);
	z-index: 3;
	opacity: 1;
}*/

/*.p3 {
	transform: translate3d(366px, 0, 0) scale(0.81);
	transform-origin: 100% 25%;
	改变基准的 opacity: 0.8;
	z-index: 2;
}*/

/*.p2 {
	transform: translate3d(672px, 0, 0) scale(0.81);
}*/

/*.p1 {
	transform: translate3d(896px, 0, 0) scale(0.81);
	/*transform-origin: 100% 25%;*/
	/*opacity: 0.8;*/
	/*z-index: 2;*/
/*}*/

/*.list>a:first-child {
	left: 224px;
}*/

/*.pre {
	left: 224px;
	background: url(../img/img22.png)no-repeat;
	left: 386px;
}*/

/*.next {
	right: 244px;
	background: url(../img/img23.png)no-repeat;
	right: 356px;
}*/

/*.button {
	position: absolute;
	top: 42%;
	text-decoration: none;
	font-size: 70px;
	color: #ffffff;
	z-index: 5;
	width: 47px;
	height: 47px;
}*/

/*a:active {
	color: #000;
	opacity: 0.5;
}*/

/*.buttons {
	width:1200px;
	height: 189px;
	/*top: 50%;*/
	/*left: 50%;*/
	/*margin-top: -15px;*/
	/*margin-left: -600px;*/
	/*text-align: center;*/
	/*overflow: hidden;*/
	/*clear: both;*/
	/*margin: 40px auto;*/
/*}*/
/*.buttons>div{float: left;margin-right: 8px;width: 294px;height: 190px;}*/
/*.buttons>div>img{width: 100%;height: 100%;}*/
/*.buttons>div:last-child{margin-right: 0;}*/













.n_content_right_m {
    text-align: left;
    width: 100%;
    margin: 0 auto;
    line-height: 24px;
    color: #666;
    font-size: 12px;
    position: relative;
}
.pro_view {
    position: relative;
}
.xn_c_prodv_4_wrap {
    width: 860px;
    margin: 38px auto 0;
    color: #666;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
}
.xn_c_prodv_66_wrap {
    width: 100%;
    margin: 54px auto 60px;
}
.xn_c_prodv_66_inner {
    height: 662px;
    overflow: hidden;
    position: relative;
}
.xn_c_prodv_66_left, .xn_c_prodv_66_right {
    width: 47px;
    height: 47px;
    cursor: pointer;
    position: absolute;
    z-index: 999;
    background-position: 0 -130px;
}
.xn_c_prodv_66_left {
    top: 50%;
    left: 357px;
    margin-top: -65px;
}
.xn_c_prodv_66_flzz, .xn_c_prodv_66_frzz {
    width: 350px;
    height: 635px;
    background-color: #000;
    cursor: pointer;
    position: absolute;
    z-index: 88;
    opacity: 0.5;
}
.xn_c_prodv_66_flzz{
	left: 0;
	top: 0;
}
.xn_c_prodv_66_frzz{
	right: 0;
	top: 0;
}
.xn_c_prodv_66_ul {
    width: 9999em;
    position: absolute;
    top: 0;
}
.xn_c_prodv_66_ul li {
    width: 1180px;
    float: left;
    overflow: hidden;
    margin-right: 6px;
}
.xn_c_prodv_66_cont {
    overflow: hidden;
    display: block;
    width: 1191px;
    height: 635px;
}
.xn_c_prodv_66_cont img {
    width: 100%;
    display: block;
}
.xn_c_prodv_66_right {
    top: 50%;
    right: 361px;
    margin-top: -65px;
    background-position: -112px -130px;
    background: url(../img/img23.png)no-repeat ;
}
.xn_c_prodv_66_min_img {
    overflow: hidden;
    margin: 7px auto 0;
}
.xn_c_prodv_66_min_img ul {
    width: 9999em;
    float: left;
    position: relative;
}
.xn_c_prodv_66_min_img ul>li>img{width: 100%;height: 100%;}
.xn_c_prodv_66_min_img .min_current {
    border: 2px solid #014a96;
}
.xn_c_prodv_66_min_img .min_current>img{width: 100%;height: 100%;}
.xn_c_prodv_66_min_img li {
    float: left;
    height: 171px;
    overflow: hidden;
    margin-right: 13px;
    border: 2px solid #FFF;
    cursor: pointer;
}
.xn_c_prodv_66_left {
    top: 50%;
    left: 361px;
    margin-top: -65px;
    background: url(../img/img22.png)no-repeat ;
}
.Returnlist{width: 140px;margin: 0 auto;border: 1px solid #014a96;padding: 10px 0;text-align: center;}
.Returnlist>a{color: #999999;font-size: 18px;}
.lastmeun{padding-top: 45px;}

/*品牌荣誉*/

.brandHonor_img {
	width: 1249px;
	margin: 0 auto;
	overflow: hidden;
	padding: 10px 40px;
}

.brandHonor_img>a {
	float: left;
	display: inline-block;
	width: 260px;
	margin-right: 42px;
	margin-bottom: 40px;
}

.brandHonor_img>a:nth-child(4n) {
	margin-right: 0;
}

.brandHonorImg_bot {
	background: #fff;
	height: 46px;
	border: 1px solid #c7c7c7;
	text-align: center;
	line-height: 46px;
	color: #000;
}

.brandHonorImg {
	background: #f2f2f2;
	padding: 35px;
}

.brandHonor_img>a:hover .brandHonorImg {
	box-shadow: 0px 0px 0px, 0px 0px 0px #666, 0px 0px 0px #666, 0px 0px 5px #666;
}

.brandHonor_img>a:hover .brandHonorImg_bot {
	background: #024b97;
	color: #fff;
	border: 0;
}


/*智能锁*/

.IntelligentLock {
	width: 1200px;
	margin: 20px auto;
	border-bottom: 1px solid #d4d4d4;
	padding-bottom: 54px;
}

.IntelligentLock_top {
	float: right;
}

.IntelligentLock_top>span {
	font-size: 14px;
	color: #999999;
}

.IntelligentLock_title {
	clear: both;
	padding-top: 25px;
	color: #000;
	font-size: 18px;
}

.IntelligentLock_img {
	overflow: hidden;
	margin-top: 25px;
}

.IntelligentLockImg_top {
	overflow: hidden;
}

.IntelligentLockImg_top>div {
	float: left;
}

.IntelligentLockImg_top>div:nth-child(2) {
	margin-left: 32px;
	padding-top: 28px;
	width: 45%;
}

.IntelligentLockImg_top>div:nth-child(2)>p {
	font-size: 14px;
	padding: 15px 0;
	border-bottom: 1px solid #d4d4d4;
	display: block;
}

.IntelligentLockImg_top>div:nth-child(2)>a {
	width: 115px;
	height: 36px;
	line-height: 36px;
	color: #fff;
	text-align: center;
	display: inline-block;
	background: #024b99;
	margin-top: 25px;
	font-size: 14px;
}

.swiper-container1 {
	width: 600px;
	margin: 10px 57px;
	overflow: hidden;
}

.swiper-slide1 {
	width: 152px !important;
	margin-right: 20px !important;
}

.Detailed {
	padding: 52px 0 15px 0;
	border-bottom: 1px solid #d4d4d4;
}

.Detailed_text {
	padding-top: 20px;
}

.Detailed_text>p {
	padding-bottom: 10px;
	font-size: 14px;
}

.Detailed_text>p:last-child {
	line-height: 1.5;
}

.fingerprint {
	margin: 0 auto;
	text-align: center;
	width: 734px;
	margin-top: 10px;
}

.fingerprint>img {
	text-align: center;
	margin: 0 auto;
}

.swiper-button-next1 {
	background: url(../img/zuo.png)no-repeat !important;
	position: absolute;
	top: 0;
	left: 0;
}

.swiper-wrapper {
	width: 432px !important;
}

#warpper {
	width: 490px;
	/*一列展示几个的宽度 ,4*280 动态算*/
	height: 100px;
	margin: 25px 65px;
	position: relative;
	overflow: hidden;
	/*border:1px solid red;*/
}

#inner {
	/*元素个数*280(div宽度)  动态算 1120px[4个元素] 1440px[5个元素]  1680px[6个元素]  2240px[8个元素]
 用JS动态设置改值
 */
	width: 912px;
	position: absolute;
}

#inner div {
	width: 152px;
	height: 100px;
	/*background:#555;*/
	float: left;
	margin: 0 5px;
}

#inner div>img {
	width: 100%;
	height: 100%;
}

#optrbtn {
	text-align: center;
	font-size: 20px;
}

.wapperBig {
	position: relative;
}

#optrbtn>span {
	width: 33px;
	height: 57px;
}

.btnleft {
	position: absolute;
	top: 20px;
	left: 20px;
}

.btnright {
	position: absolute;
	top: 20px;
	right: 602px;
}

.IntelligentLockImg_top_left {
	width: 625px;
	height: 362px;
	position: relative;
}

.IntelligentLockImg_top_left>div {
	position: absolute;
	top: 0;
	left: 0;
	width: 625px;
	height: 362px;
}

.IntelligentLockImg_top_left>div>img {
	width: 100%;
	height: 100%;
}


/*新闻详情*/

.NewsDetail {
	width: 1200px;
	margin: 20px auto;
	border-bottom: 1px solid #d4d4d4;
	padding-bottom: 54px;
}

.NewsDetail_title {
	clear: both;
}

.NewsDetail_title>div:first-child {
	padding: 25px 0 14px 0;
	font-size: 18px;
	text-align: center;
}

.NewsDetail_title>div:nth-child(2) {
	color: #999999;
	font-size: 12px;
	padding-bottom: 23px;
	text-align: center;
}

.NewsDetail_title>div:nth-child(3) {
	font-size: 14px;
	line-height: 1.8;
	text-indent: 30px;
}

.NewsDetail_title>div:nth-child(4) {
	text-align: center;
	clear: both;
	padding-top: 20px;
}

.NewsDetail_title>div:nth-child(5) {
	padding-top: 26px;
	font-size: 14px;
	text-indent: 30px;
	line-height: 1.8;
}

.lastOne {
	width: 1200px;
	margin: 0 auto;
	padding-bottom: 50px;
}

.lastOne>div>a {
	color: #999;
	font-size: 14px;
}


/*联系我们*/

#allmap {
	width: 100%;
	height: 920px;
}

#r-result {
	width: 100%;
}

.map {
	position: relative;
	overflow: hidden;
}

.Location {
	width: 555px;
	position: absolute;
	top: 147px;
	left: 677px;
	height: 287px;
}

.Location-pos {
	position: relative;
	height: 100%;
}

.Location_back {
	background: #102944;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	opacity: 0.8;
	border-radius: 6px;
}

.Location-title {
	position: absolute;
	top: 29px;
	left: 85px;
	overflow: hidden;
}

.Location-title>div {
	float: left;
}

.Location-title>div:first-child {
	width: 90px;
	height: 90px;
}

.Location-title>div:first-child>img {
	width: 100%;
	height: 100%;
}

.Location-title>div:nth-child(2) {
	color: #fff;
	font-size: 24px;
	padding-top: 40px;
	padding-left: 15px;
}

.Location-center {
	padding-top: 33px;
	position: absolute;
	top: 110px;
	left: 17px;
}

.Location-center>div {
	float: left;
}

.Location-center>div:nth-child(2) {
	font-size: 36px;
	color: #fff;
	padding-top: 5px;
}

.Location-center>div:first-child {
	width: 44px;
	height: 44px;
	margin-right: 23px;
}

.Location-center>div:first-child>img {
	width: 100%;
	height: 100%;
}

.Location-bottom {
	position: absolute;
	bottom: 25px;
	left: 17px;
}

.Location-bottom>div {
	float: left;
}

.Location-bottom>div:nth-child(2) {
	color: #fff;
	font-size: 18px;
	padding-top: 15px;
	padding-left: 23px;
}


/*加盟中心*/

.JoinIn1 {
	width: 100%;
	margin: 40px auto;
	height: 100%;
}

.JoinIn {
	width: 1200px;
	margin: 0 auto;
}

.JoinIn_title {
	width: 310px;
	background: #014a96;
	text-align: center;
	margin: 0 auto;
	padding: 15px 0;
	color: #fff;
	font-size: 26px;
	border-radius: 50px;
	clear: both;
}

.JoinIn_line {
	width: 601px;
	height: 60px;
	border-bottom: 2px solid #e5e5e5;
	position: relative;
	left: 951px;
	top: 0;
	border-left: 2px solid #e5e5e5;
}

.JoinIn_number {
	width: 1200px;
	margin: 0 auto;
	clear: both;
	overflow: hidden;
	border-right: 2px solid #e5e5e5;
}

.JoinIn_number>div {
	float: left;
	margin-top: 55px;
}

.JoinInNumber_left {
	width: 396px;
	height: 300px;
}

.JoinInNumber_left>img {
	width: 100%;
	height: 100%;
}

.JoinInNumber_right {
	margin-left: 65px;
	margin-bottom: 38px;
}

.JoinInNumber_right>div {
	margin-bottom: 17px;
	overflow: hidden;
}

.JoinInNumber_right>div>p {
	float: left;
	background: #6792c0;
	padding: 19px 16px;
	border-radius: 22px;
	color: #fff;
	font-size: 18px;
	text-align: center;
	margin-left: 28px;
}

.JoinInNumber_right>div>span {
	float: left;
	display: inline-block;
	width: 44px;
	height: 63px;
}

.JoinIn_line1 {
	border-top: 2px solid #e5e5e5;
	width: 601px;
	height: 74px;
	position: relative;
	top: 0;
	left: 951px;
	border-left: 2px solid #e5e5e5;
}

.circular {
	width: 12px;
	height: 12px;
	background: #f18101;
	border-radius: 50%;
	position: absolute;
	top: -7px;
	left: -7px;
}

.circular1 {
	width: 12px;
	height: 12px;
	background: #fff;
	border-radius: 50%;
	position: absolute;
	top: 20px;
	left: -7px;
	border: 1px solid #9b9b9b;
}

.JoinIn_line2 {
	width: 601px;
	height: 60px;
	border-bottom: 2px solid #e5e5e5;
	position: relative;
	left: 354px;
	top: 0;
	border-right: 2px solid #e5e5e5;
}

.good {
	border-left: 2px solid #e5e5e5;
	padding-bottom: 36px;
	width: 1200px;
	margin: 0 auto;
}

.good_Modular {
	overflow: hidden;
}

.goodModular_title {
	border: 2px solid #e5e5e5;
	width: 700px;
	margin: 26px auto 20px auto;
	border-radius: 50px;
}

.goodModular_frame {
	background: #e2dfdf;
	margin: 4px;
	padding: 6px;
	border-radius: 50px;
	overflow: hidden;
}

.goodModular_frame>span {
	width: 33px;
	height: 33px;
	background: #f18101;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	line-height: 33px;
	color: #fff;
	font-size: 18px;
	float: left;
}

.goodModular_frame>p {
	float: left;
	line-height: 33px;
	margin-left: 10px;
}

.goodModular_text {
	overflow: hidden;
}

.goodModular_text>p {
	font-size: 14px;
	line-height: 1.2;
}

.JoinIn_line3 {
	border-top: 2px solid #e5e5e5;
	width: 601px;
	height: 74px;
	position: relative;
	top: 0;
	left: 352px;
	border-right: 2px solid #e5e5e5;
}

.circular2 {
	width: 12px;
	height: 12px;
	background: #f18101;
	border-radius: 50%;
	position: absolute;
	top: 26px;
	right: -6px;
}

.circular3 {
	width: 12px;
	height: 12px;
	background: #fff;
	border-radius: 50%;
	position: absolute;
	top: -7px;
	right: -6px;
	border: 1px solid #9b9b9b;
}

.JoinIn_process {
	width: 1552px;
	display: block;
	border-right: 2px solid #e5e5e5;
	padding: 10px 10px 10px 0;
}

.JoinInProcess_center {
	background: #6792c0;
}

.JoinInProcess_right {
	margin-left: 360px;
	padding: 47px 57px;
	overflow: hidden;
}

.JoinInProcess_right>div {
	margin-right: 69px;
	float: left;
}

.JoinInProcess_right>div:last-child {
	margin-right: 0;
}

.Technological {
	overflow: hidden;
}

.Technological>div:first-child {
	width: 60px;
	height: 70px;
	margin: 0 auto;
}

.Technological>div:first-child>img {
	width: 100%;
	height: 100%;
}

.Technological>div:nth-child(2) {
	margin-top: 20px;
	width: 158px;
	background: #fff;
	padding: 12px 0;
	text-align: center;
	color: #000;
	font-size: 18px;
}

.Success {
	width: 60px;
	height: 60px;
}

.Success>img {
	width: 100%;
	height: 100%;
}

.JoinIn_line4 {
	border-top: 2px solid #e5e5e5;
	width: 601px;
	height: 74px;
	position: relative;
	top: 0;
	left: 951px;
	border-left: 2px solid #e5e5e5;
}

.JoinIn_line5 {
	position: relative;
	top: 0;
	left: 352px;
}

.JoinIn_bottom {
	margin-left: 352px;
	border-left: 2px solid #e5e5e5;
	padding: 10px;
}

.JoinIn_bottom_back {
	background: url(../img/img100.png)no-repeat center center;
	padding: 36px 0 12px 244px;
}

.JoinInBottom {
	color: #fff;
	overflow: hidden;
}

.JoinInBottom>div {
	float: left;
	line-height: 30px;
}

.JoinInBottom>div:first-child {
	margin-right: 58px;
	font-size: 30px;
}

.JoinInBottom>div:first-child>span {
	font-size: 22px;
}

.JoinInBottom>div:nth-child(2) {
	font-size: 22px;
}

.JoinIn_bottom_back>a {
	width: 195px;
	background: #f18101;
	padding: 14px 0;
	text-align: center;
	display: inline-block;
	margin-left: 257px;
	color: #fff;
	border-radius: 12px;
	margin-top: 38px;
	font-size: 24px;
}

.JoinIn_line6 {
	border-top: 2px solid #e5e5e5;
	width: 601px;
	position: relative;
	top: 0;
	left: 352px;
	height: 12px;
}

.circular4 {
	width: 12px;
	height: 12px;
	background: #f18101;
	border-radius: 50%;
	position: absolute;
	top: -8px;
	right: 0;
}

.JoinIn_number_big {
	background: #fafafa;
}

.JoinIn_line7 {
	position: relative;
	top: 0;
	left: 599px;
	width: 601px;
	height: 60px;
	border-bottom: 2px solid #e5e5e5;
	border-left: 2px solid #e5e5e5;
}


/*媒体查询*/

@media only screen and (max-width: 1863px) {
	.swiperImages {
		height: 820px;
	}
	.swiper-slide>a>img {
		width: 100%;
		height: 820px;
	}
	.aboutBoyue-left {
		width: 1048px;
		height: 488px;
		position: relative;
		left: 0;
		top: 0;
	}
	.animationDemo>div:nth-child(4) {
		right: 55px;
	}
	.animationDemo>div>img {
		width: 100%;
		height: 725px;
	}
}

@media only screen and (max-width: 1600px) {
	.swiperImages {
		height: 900px;
	}
	.aboutBoyue-left {
		width: 1020px;
		height: 488px;
		position: relative;
		left: 0;
		top: 0;
	}
	.animationDemo>div:nth-child(4) {
		right: 290px;
	}
	.animationDemo>div>img {
		width: 1600px;
		height: 725px;
	}
	.roomDetailsRight_text {
		padding-left: 68px;
	}
	.KitchenDetailsRight_text {
		padding-left: 22px;
	}
}

@media only screen and (max-width: 1440px) {
	.swiperImages {
		height: 850px;
	}
	.aboutBoyue-left {
		width: 920px;
		height: 488px;
		position: relative;
		left: 0;
		top: 0;
	}
	.animationDemo>div:nth-child(4) {
		right: 280px;
	}
	.animationDemo>div>img {
		width: 1440px;
		height: 725px;
	}
	.roomDetailsRight_text {
		padding-left: 20px;
	}
	.KitchenDetailsRight_text {
		padding-left: 22px;
	}
}

@media only screen and (max-width: 1366px) {
	.swiperImages {
		height: 780px;
	}
	.aboutBoyue-left {
		width: 880px;
		height: 488px;
		position: relative;
		left: 0;
		top: 0;
	}
	.animationDemo>div:nth-child(4) {
		right: 260px;
	}
	.animationDemo>div>img {
		width: 1366px;
		height: 725px;
	}
}

@media only screen and (max-width: 1200px) {
	.swiperImages {
		height: 780px;
	}
	.aboutBoyue-left {
		width: 780px;
		height: 488px;
		position: relative;
		left: 0;
		top: 0;
	}
	.animationDemo>div:nth-child(4) {
		right: 55px;
	}
	.animationDemo>div>img {
		width: 1200px;
		height: 725px;
	}
	\
}