<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="author" content="bright" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="flexible" content="initial-dpr=2" />
		<title>薇拉摄影</title>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/mobile/css/reset.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/mobile/css/swiper.css" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/mobile/css/index.css" />
		<script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
	</head>

	<body>
		<header>
			<div class="headerCent">
				<div>{$company_introduce.ci_logotitle}</div>
				<div>{$company_introduce.ci_logotitle_english} </div>
			</div>
			<img src="__PUBLIC__/mobile/img/img1.png" alt="img" class="headerCent-right" />
		</header>
		<!--菜单下拉框-->
		<include file="Public/nav" />

		<div class="bannerImages">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<volist name="lunboData" id="lunbo">
						<div class="swiper-slide">
							<div class="bannerImages-top">
								<img src="{$lunbo.lb_image}" alt="..." />
							</div>
							<div class="bannerImages-bot">
								<div class="bannerImg">
									<div class="bannerImg-top"></div>
									<div class="bannerImg-bot">
										{$lunbo.lb_title}
									</div>
								</div>
							</div>
						</div>
					</volist>
				</div>
				<div class="swiper-pagination"></div>
			</div>
		</div>
		<!--标题-->
		<div class="PublicCall">
			<img src="__PUBLIC__/mobile/img/img7.png" alt="img" />
		</div>
		<img src="{$background_imageData[0].bi_image}" alt="img" class="Imgbanner" />
		<!--爱就要放肆-->
		<a href="/index.php/Home/Index/zuixintehui" class="Wanton">
			<div class="Wanton-left">国庆 | 爱就要放肆</div>
			<div class="Wanton-right">点击进入活动</div>
		</a>
		<!--标题-->
		<div class="PublicCall">
			<img src="__PUBLIC__/mobile/img/img8.png" alt="img" />
		</div>
		<!--风格样片-->
		<div class="StyleSample">
			<volist name="caseData" id="case">
				<a href="/index.php/Home/Index/Information/id/{$case.id}">
					<img src="{$case.image}" alt="img" />
					<div class="StyleSampleCent">
						<div class="StyleSampleCent-top">
							{$case.title}
						</div>
						<div class="StyleSampleCent-bot">
							{$case.author}
						</div>
					</div>
				</a>
			</volist>
		</div>
		<!--查看更多-->
		<a href="/index.php/Mobile/Index/keyangxinshang" class="enjoyMore">+ enjoy more</a>
		<!--标题-->
		<div class="PublicCall">
			<img src="__PUBLIC__/mobile/img/img9.png" alt="img" />
		</div>
		<!--层叠轮播-->
		<div id="certify">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<volist name="view_res" id="view">
						<div class="swiper-slide"><img src="{$view.image}" alt="img" /></div>
					</volist>
				</div>
			</div>
			<div class="swiper-pagination"></div>
		</div>
		<!--查看更多-->
		<!-- <a href="javascript:" class="enjoyMore">+ enjoy more</a> -->
		<!--标题-->
		<div class="PublicCall">
			<img src="__PUBLIC__/mobile/img/img10.png" alt="img" />
		</div>
		<!--分类-->
		<div class="Interior">
			<volist name="room_scenery_classify_res" id="room_scenery_classify">
				<a href="/index.php/Mobile/Index/erjifenlei/rsc_id/{$room_scenery_classify.rsc_id}">{$room_scenery_classify.rsc_name}</a>
			</volist>
		</div>
		<!--轮播-->
		<!-- <div class="newsImages">
		 	<div class="swiper-container">
			    <div class="swiper-wrapper">
			    	<volist name="room_scenery_res" id="room_scenery" key="k">
			    		<div class="swiper-slide" style="background:url({$room_scenery.rs_image}) no-repeat;background-size: 100%;"></div>
					</volist>
			    </div>
		  	</div>
		</div> -->
		<!--城市旅拍-->
		<div class="CityTour">
			<volist name="room_scenery_res111" id="room_scenery">
				<a href="/index.php/Mobile/Index/Information/rs_id/{$room_scenery.rs_id}">
					<div class="CityTour-top">
						<div class="CityTour-left">
							{$room_scenery.rs_name}
						</div>
						<div class="CityTour-right">
							<img src="__PUBLIC__/mobile/img/img13.png" alt="img" />
						</div>
					</div>
					<img src="{$room_scenery.rs_image}" alt="img" class="CityTour-bot" />
				</a>
			</volist>
		</div>
		<!--查看更多-->
		<a href="/index.php/Mobile/Index/erjifenlei/rsc_id/{$room_scenery_classify123.rsc_id}" class="enjoyMore">+ enjoy more</a>
		<!--img-->
		<div class="Artwork">
			<img src="__PUBLIC__/mobile/img/img16.png" alt="img" />
			<div class="ArtworkCent">
				<div class="Artwork-top">
					Vera Mansion
				</div>
				<div class="Artwork-bot">
					每一张照片都是艺术品，我们坚持用客片说话
				</div>
			</div>
		</div>
		<!--预约报名-->
		<div class="signUp">
			<div>在线预约报名</div>
			<form>
				<input type="text" placeholder="您的姓名" />
				<input type="text" placeholder="您的手机" />
				<input type="text" placeholder="您的微信/QQ" />
				<textarea placeholder="您的备注"></textarea>
				<input type="button" value="提交" class="submitVal" />
			</form>
		</div>
		<!--公司地址-->
		<include file="Public/content" />
		<!--公共底部-->
		<include file="Public/footer" />
		<!--固定浮窗-->
		<include file="Public/float" />
		<!--广告红包-->
		<div class="RedEnvelopes">
			<div class="RedEnvelopes-top">
				<img src="__PUBLIC__/mobile/img/img4.png" alt="img" />
			</div>
			<div class="RedEnvelopes-bot">
				薇拉婚纱摄影
			</div>
		</div>
		<img src="__PUBLIC__/mobile/img/img22.png" alt="x" class="close" />
		<div class="HideDiv3"></div>
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<script src="__PUBLIC__/mobile/js/swiper.js" type="text/javascript" charset="utf-8"></script>
		<script src="__PUBLIC__/mobile/js/index.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function() {
				//				轮播图
				var swiper = new Swiper('.bannerImages .swiper-container', {
					spaceBetween: 20,
					centeredSlides: true,
					autoplay: {
						delay: 2500,
						disableOnInteraction: false,
					},
					pagination: {
						el: '.bannerImages .swiper-pagination',
						clickable: true,
					},
				});
				//				层叠轮播图
				var certifySwiper = new Swiper('#certify .swiper-container', {
					observer: true,
					observeParents: true,
					watchSlidesProgress: true,
					slidesPerView: 'auto',
					centeredSlides: true,
					loop: true,
					loopedSlides: 3, //slide个数
					autoplay: true,
					pagination: {
						el: '#certify .swiper-pagination',
						clickable: true,
					},
					on: {
						progress: function(progress) {
							for(i = 0; i < this.slides.length; i++) {
								var slide = this.slides.eq(i);
								var slideProgress = this.slides[i].progress;
								modify = 1;
								if(Math.abs(slideProgress) > 1) {
									modify = (Math.abs(slideProgress) - 1) * 0.3 + 1;
								}
								translate = slideProgress * modify * 260 + 'px';
								scale = 1 - Math.abs(slideProgress) / 5;
								zIndex = 999 - Math.abs(Math.round(10 * slideProgress));
								slide.transform('translateX(' + translate + ') scale(' + scale + ')');
								slide.css('zIndex', zIndex);
								slide.css('opacity', 1);
								if(Math.abs(slideProgress) > 3) {
									slide.css('opacity', 0);
								}
							}
						},
						setTransition: function(transition) {
							for(var i = 0; i < this.slides.length; i++) {
								var slide = this.slides.eq(i)
								slide.transition(transition);
							}
						}
					}
				});
				//				薇拉内景轮播
				var swiper2 = new Swiper('.newsImages .swiper-container', {
					spaceBetween: 30,
					effect: 'fade',
					observer: true,
					observeParents: true,
					spaceBetween: 30,
					centeredSlides: true,
					autoplay: {
						delay: 2500,
						disableOnInteraction: false,
					},
				});
				//			    js取消分类的下边框
				//				拿到总长度
				var leng = $(".Interior>a").length;
				//				向下取整,拿到保留下边框的行数和个数
				var valNumber = Math.floor(Number(leng / 3));
				var num = valNumber * 3;
				//				需要去除边框的个数
				var splictNum = Number(leng - num);
				//				去除最后一行的下边框
				if(splictNum == 0) {
					$(".Interior").children("a").eq(leng - 1).addClass("hideBorder");
					$(".Interior").children("a").eq(leng - 2).addClass("hideBorder");
					$(".Interior").children("a").eq(leng - 3).addClass("hideBorder");
				}
				if(splictNum == 1) {
					$(".Interior").children("a").eq(leng - 1).addClass("hideBorder");
				}
				if(splictNum == 2) {
					$(".Interior").children("a").eq(leng - 1).addClass("hideBorder");
					$(".Interior").children("a").eq(leng - 2).addClass("hideBorder");
				}
				//				js设置红包垂直居中和定时显示
				var widt = $(".RedEnvelopes").outerWidth(true);
				var hegt = $(".RedEnvelopes").outerHeight(true);
				var windowWid = $(window).width();
				var windowheg = $(window).height();
				var lft = Number((windowWid - widt) / 2);
				var ght = Number((windowheg - hegt) / 2);
				$(".RedEnvelopes").css("left", lft);
				$(".RedEnvelopes").css("top", ght);
				var widt2 = $(".close").outerWidth(true);
				var hegt2 = $(".close").outerHeight(true);
				var lft2 = Number((windowWid - widt2) / 2);
				var ght2 = Number((windowheg - hegt) / 2) + hegt + 20;
				$(".close").css("left", lft2);
				$(".close").css("top", ght2);
				//				关闭红包
				$(".close").click(function() {
					$(".RedEnvelopes").css("display", "none");
					$(".close").css("display", "none");
					$(".HideDiv3").css("display", "none");
				});
				//				定时器
				var t1 = window.setInterval("redBage()", 30000);

				//	注册领取
				$(".submitVal").click(function() {
					var nameVal = $(".signUp").children("form").children("input").eq(0).val();
					var phoneVal = $(".signUp").children("form").children("input").eq(1).val();
					var wchatVal = $(".signUp").children("form").children("input").eq(2).val();
					if(nameVal == "" || nameVal == null) {
						alert("姓名不能为空!");
						return false;
					}
					if(phoneVal == "" || phoneVal == null) {
						alert("手机号不能为空!");
						return false;
					} else {
						var testVal = /^\d{11}$/;
						if(testVal.test(phoneVal) == false) {
							alert("请输入11位的手机号!");
							return false;
						}
					}
					if(wchatVal == "" || wchatVal == null) {
						alert("请输入微信或者QQ!");
						return false;
					}
					$.ajax({      
						type: 'post',
						url: '/index.php/Mobile/Public/user1add',
						cache: false,
						data: {
							'name': nameVal,
							'telephone': phoneVal,
							'wechat': wchatVal
						},
						dataType: 'json',
						success: function(data) {       
							if(data == true) {
								alert("提交成功!");
								$(".signUp").children("form").children("input").eq(0).val("");
								$(".signUp").children("form").children("input").eq(1).val("");
								$(".signUp").children("form").children("input").eq(2).val("");
							} else {
								alert("提交失败!");
								return false;
							}
						},
						error: function() {       
							alert("获取客户评价请求异常！");      
						}   
					});
				});
			});

			function redBage() {
				$(".RedEnvelopes").css("display", "block");
				$(".close").css("display", "block");
				$(".HideDiv3").css("display", "block");
			}
		</script>
	</body>

</html>